.algoabout{
    padding: 3% 5%;
    background-color: #000E08;
    border-bottom: 1px solid #00CD78;
  
}
.borderRight{
    width: 75%;
    border-right:1px solid #00CD78;
}
#aboutfirstText{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #B3B3B3;
    width: 85%;
}
#aboutsecondText{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #B3B3B3;
    width: 85%;
    margin: 3% 0 0 0;
}

#aboutfirstTitle{
    font-family: Manrope;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #FFFFFF;
    width: 80%;
    margin: 3% 0 0 0;
}

.innerflex{
   width: 20%;
   position: absolute;
   right: 45px;

}
#traingleTitle1{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: justified;
    color: #00CD78;    
}
#triangleText1{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
    color: #9BA4A2;   
    width: 75%;
    margin: 0 0 0 10%; 
}
#triangleText2{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
    color: #9BA4A2;   
    width: 75%;
    margin: 0 0 0 10%;  
}
#greenText{
    color: #00CD78;
}
.whoweare{
display: flex;
width: 50%;
margin: 3% 0 0 0;
}
#whoTitle{
    font-family: Manrope;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 3% 0 0 18%;
}
.aboutsection1{
width: 15%;
}
.aboutsection2{
width: 65%;
background:url('../../../images/aboutus/aboutus2.png');
background-repeat: no-repeat;
background-position: center;
}
.aboutsection3{
width: 15%;
}
.firstCard,.secondCard,.thirdCard,.fourthCard{
    background: rgba(255, 255, 255, 0.03);
    height: 160px;
    width: 185px;
    border-radius: 23px;
    margin: 10% 0 0 0;
    padding: 2% 5%;
}
.aboutsection1 div:hover{
    border: 1px solid #00CD78;
}
.aboutsection3 div:hover{
    border: 1px solid #00CD78;
}
.algoaboutlogoIcon{
    margin: 20% 0 0 40%;
}
#firstNumber{
    font-family: Manrope;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.005em;
    text-align: center;
    color:#FFFFFF;    
    margin: 5% 0 0 0;
}
#firstText{
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.005em;
    text-align: center;
    color:#CFCFCF;    
}
.whoweareIcon{
    margin: 15% 0 0 40%;
}
@media screen and (max-width:1705px) and (min-width:1024px) {
    .innerflex{
        margin: -3% 0 0 0;
     }
    #aboutfirstText,#aboutsecondText,#aboutthirdText{
        width: 90%;
    }
    #aboutfirstTitle{
        width: 80%;
    }
    #triangleText1{
        margin: 0 0 0 13%;
        width: 100%;
    }
    #triangleText2{
        width: 100%;
    }
    .whoweare{
        width: 100%;
        margin: 0 0 5% 0;
    }
    .aboutsection1{
        width: 20%;
    }
    .aboutsection2{
        width: 40%;
    }
    .aboutsection3{
        width: 20%;
    }
    .algoaboutlogoIcon{
        margin: 35% 0 0 35%;
    }
    #whoTitle{
    margin: 3% 0 0 30%;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .borderRight{
        margin: 0 0 5% 0;
    }
    #aboutfirstTitle{
    font-size: 30px;
    width: 100%;
    }
    #traingleTitle1{
    font-size: 12px;
    }
    #triangleText1{
    font-size: 12px;
    margin: 0 0 0 15%;
    }
    .firstCard,.secondCard,.thirdCard,.fourthCard{
        background: rgba(255, 255, 255, 0.03);
        height: 130px;
        width: 155px;
        border-radius: 23px;
        margin: 10% 0 0 0;
        padding: 2% 0%;
    }
    #firstNumber{
        font-size: 16px;
    }
    #firstText{
        font-size: 12px;
    }
    .whoweareIcon{
        margin: 15% 0 0 38%;
    }
    .whoweare{
        width: 100%;
        margin: 0 0 5% 0;
    }
    .aboutsection1{
        width: 30%;
    }
    .aboutsection2{
        width: 40%;
        background:url('../../../images/aboutus/aboutus2.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    .aboutsection3{
        width: 30%;
    }
    #aboutfirstText{
        line-height: 28px;
    }
    #aboutsecondText{
        line-height: 28px;
    }
    #triangleText2{
        font-size: 12px;
        margin: 0 0 0 15%;
    }
}