@media screen and (max-width:425px) and (min-width:376px) {
    body {
        padding: 0%;
        margin: 0%;
    }

    .attack_section1 {
        background-image: url(../../images/attacker/mobBg.png);
        background-size: 100% 170%;
        background-repeat: no-repeat;
        padding: 0% 0 5% 15%;
        margin: 0%;
        height: 100vh;
    }

    .attack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 100.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-top: 30%;
        margin-left: -7%;
        padding-bottom: 10%;
    }

    .attackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.86;
        width: 98%;
        padding-bottom: 15%;
        margin-left: -6%;
    }

    .demoBtn {
        background: #00cd78;
        border: none;
        border-radius: 8px;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
        height: 40px;
        letter-spacing: 0;
        line-height: 19px;
        margin: 3% 0 0 15%;
        outline: none;
        text-align: center;
        width: 150px;
        padding-top: 2%;
        cursor: pointer;
    }

    .attack_section2 {
        background-color: #000E08;
        margin: -2% 0 0;
    }

    .attack_section2_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        text-align: center;
        color: #00CD78;
        padding-top: 5%;
    }

    .attack_section2_list {
        display: block;
        margin-left: -15%;
        padding: 2% 0;
    }

    .hrLine {
        display: none;
    }

    .whyhelp_list {
        display: flex;
        margin-left: 20%;
    }

    .whyhelp_list img {
        width: 50px;
        height: 50px;
    }

    .list_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 137.6%;
        color: #FFFFFF;
        padding-left: 5%;
        margin-top: 2%;
    }

    .attack_section3 img{
        margin-top: -2%;
    }
    .attack_section3_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        padding: 5%;
        width: 93%;
        margin-left: 3%;
        margin-top: -6%;
    }

    .colorText {
        color: #00CD78;
    }

    .attack_section4 {
        background-color: #000E08;
        padding-bottom: 2%;
        padding-top: 30%;
    }

    .attack_section4_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 120.1%;
        text-align: center;
        color: #00CD78;
        padding-top: 2%;
        padding-bottom: 3%;
    }

    .attack_sectionCard {
        display: block;
        width: 85%;
        height: 550px;
        background-color: #091610;
        border-radius: 24px;
        margin-left: 8%;
        padding-bottom: 0%;
        margin-bottom: 2%;
        padding-left: 3%;
    }

    .attack_cardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 126.6%;
        color: #FFFFFF;
        width: 100%;
        margin-top: 5%;
    }

    .attack_cardLeft {
        width: 100%;
        margin-left: 2%;
    }

    .attack_cardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        color: #FFFFFF;
        width: 98%;

    }

    .attack_cardBtn {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 170.1%;
        color: #00CD78;
        padding-bottom: 0;
    }

    .attack_cardRight img {
        width: 70%;
        height: 70%;
        margin-top: -5%;
        margin-left: 15%;
    }

    .attack_section5 {
        background-color: #000E08;
        padding: 5%;
        margin-top: -2%;
    }

    .attack_section5_box {
        width: 90%;
        border: 1px solid #00CD78;
        border-radius: 8px;
    }

    .attack_section5_box {
        display: flex;
        margin-left: 5%;
    }

    .attack_section5_box div {
        padding-top: 3%;
        padding-left: 5%;
        padding-bottom: 3%;
        width: 50%;
    }

    .attack_box_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 120.1%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        width: 70%;
    }

    .attack_box_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 177%;
        color: #CBCBCB;
        width: 120%;
    }

    .attack_box_btn {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #020906;
        background-color: #00CD78;
        margin-left: 50%;
        margin-top: 25%;
        width: 30%;
        padding: 2%;
        border-radius: 8px;
    }
}


@media screen and (max-width:375px) {
    body {
        padding: 0%;
        margin: 0%;
    }

    .attack_section1 {
        background-image: url(../../images/attacker/mobBg.png);
        background-size: 100% 170%;
        background-repeat: no-repeat;
        padding: 0% 0 8% 15%;
        margin: 0%;
        height: 100vh;
    }

    .attack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 100.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-top: 35%;
        margin-left: -7%;
        padding-bottom: 10%;

    }

    .attackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.86;
        width: 98%;
        padding-bottom: 15%;
        margin-left: -6%;
    }

    .demoBtn {
        background: #00cd78;
        border: none;
        border-radius: 8px;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
        height: 40px;
        letter-spacing: 0;
        line-height: 19px;
        margin: 3% 0 0 15%;
        outline: none;
        text-align: center;
        width: 150px;
        padding-top: 3%;
        cursor: pointer;
    }

    .attack_section2 {
        background-color: #000E08;
        margin: 0;
    margin-top: -2%;
    }

    .attack_section2_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        text-align: center;
        color: #00CD78;
        padding-top: 5%;
    }

    .attack_section2_list {
        display: block;
        margin-left: -15%;
        padding: 2% 0;
    }

    .hrLine {
        display: none;
    }

    .whyhelp_list {
        display: flex;
        margin-left: 18%;
    }

    .whyhelp_list img {
        width: 50px;
        height: 50px;
    }

    .list_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 137.6%;
        color: #FFFFFF;
        padding-left: 5%;
        margin-top: 2%;
    }

    .attack_section3 {
        margin-top: -2%;
    }
    .attack_section3_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        padding: 5%;
        width: 93%;
        margin-left: 3%;
        margin-top: -5%;
    }

    .colorText {
        color: #00CD78;
    }

    .attack_section4 {
        background-color: #000E08;
        padding-bottom: 2%;
        padding-top: 30%;
    }

    .attack_section4_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 31px;
        line-height: 120.1%;
        text-align: center;
        color: #00CD78;
        padding-top: 2%;
        padding-bottom: 3%;
    }

    .attack_sectionCard {
        display: block;
        width: 85%;
        height: 530px;
        background-color: #091610;
        border-radius: 24px;
        margin-left: 8%;
        padding-bottom: 0%;
        margin-bottom: 2%;
        padding-left: 3%;
    }

    .attack_cardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 126.6%;
        color: #FFFFFF;
        width: 100%;
        margin-top: 5%;
    }

    .attack_cardLeft {
        width: 100%;
        margin-left: 2%;
    }

    .attack_cardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        color: #FFFFFF;
        width: 98%;
    }

    .attack_cardBtn {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 170.1%;
        color: #00CD78;
        padding-bottom: 0;
    }

    .attack_cardRight img {
        width: 70%;
        height: 70%;
        margin-top: -5%;
        margin-left: 15%;
    }

    .attack_section5 {
        background-color: #000E08;
        padding: 5%;
    }

    .attack_section5_box {
        width: 90%;
        border: 1px solid #00CD78;
        border-radius: 8px;
    }

    .attack_section5_box {
        display: flex;
        margin-left: 5%;
    }

    .attack_section5_box div {
        padding-top: 3%;
        padding-left: 5%;
        padding-bottom: 3%;
        width: 50%;
    }

    .attack_box_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 120.1%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        width: 70%;
    }

    .attack_box_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 177%;
        color: #CBCBCB;
        width: 120%;
    }

    .attack_box_btn {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #020906;
        background-color: #00CD78;
        margin-left: 50%;
        margin-top: 25%;
        width: 30%;
        padding: 2%;
        border-radius: 8px;
    }
}