.contactBanner{
    background-color:#000E08 ;
    background-size: 100% 100%;
    margin: 0%;
    padding: 0%;
    margin-bottom: -5%;
    padding-bottom: 14%;
}
.contactTitle1{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 66.7113px;
        line-height: 144.1%;
        text-align: center;
        letter-spacing: -0.04em;
        color: #FFFFFF;
        padding-top: 4%;
}
.contactTitle2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 214.1%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 0%;
    margin-left: 1%;
}
.ContactFlex{
    display: flex;
    width: 100%;
    margin-left: 13%;
    margin-top: 6%;
    margin-bottom: 9%;
}
.contactForm{
    border: 1px solid #2cd58b;
    border-radius: 13px;
    height: 71vh;
    width: 35%;
    }
    
.form{
    padding-top: 5%;
    padding-left: 10%;
}
.formContent1{
    /* display: flex; */
    justify-content: space-between;
    width: 88%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6%;
}
label{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #9BA4A2;
    margin-top: 3%;
}

input{
    border: 1px solid #696969;
    border-radius: 5px;
    background-color:#000E08 ;
    color: #00CD78;
    width: 97%;
    margin-right: 4%;
    height: 30px;
    padding-left: 2%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.serviceNeed{
    margin-left: 0%;
}
input,label{
    display: block;
    margin-top: 5%;
}
/* .input1{
    margin-top: 2%;
    width: 274px;
} */
/* .input1{
    margin-top: 2%;
    width: 219px;
} */
.input3{
    margin-top: 2%;
}
/* .input2{
    margin-left: 16%;
    margin-top: 2%;
    width: 242px;
} */
/* .input2{
    margin-left: 16%;
    margin-top: 2%;
    width: 209px;
} */
/* .input1{
    width: 255px;
    margin-top: 8px;
}
.input2{
    width: 255px;
    margin-top: 8px;
} */
.email{
    margin-left: 0%;
}
.inputMsg{
    width: 87%;
    height: 20vh;
    margin-top: 2%;
}
.submitBtn{
    /* background: linear-gradient(#2CD58B 10.43%, #3AC9FB 87.33%); */
    background: linear-gradient(95.27deg, #2CD58B 10.43%, #3AC9FB 87.33%);
border-radius: 6px;
    border-radius: 6px;
    width: 29%;
    height: 36px;
    border: none;
    margin-left: 58%;
    margin-top: 5%;
}
.submit{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150.6%;
    padding-top: 4%;
    color: #000000;

}
.ContactPara{
    display: block;
    margin-left: 4%;
}
.ContactParaTitle1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 140.1%;
    letter-spacing: -0.04em;
    width: 53%;
    color: #E7E7E7;
}
.paraContent{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 150.6%;
    color: #FFFFFF;
    opacity: 0.8;
    width: 49%;
    padding-bottom: 4%;
    margin-top: 3%;
}
.ContactParaTitle2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140.1%;
    letter-spacing: -0.04em;
    color: #E7E7E7;
    padding-top: 4%;
}
.label{
    margin-right: 2%;
}
.paraContent2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 150.6%;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 2%;
}
.linkCont{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 150.6%;
    color: #00CD78;
    opacity: 0.6;
    margin-top: 1%;
}
.formContent{
    width: 90%;
}
.css-6j8wv5-Input{
    height: 30px;
}
.css-1s2u09g-control {
    border-radius: 5px;
    background-color:#000E08 !important;
    width: 100%;
    margin-right: 4%;
    min-height: 110px;

}
.css-319lph-ValueContainer{
    background-color: #000E08 !important;
    border-radius: 5px;
    margin-bottom: -9px;
    height: 36px;
    margin-top: -9px;
}
.css-1hb7zxy-IndicatorsContainer{
    background-color:#000E08 !important;
}
.css-1rhbuit-multiValue {
    background: rgba(0, 205, 120, 0.11) !important;
    border-radius: 3px !important;
}
.css-1hwfws3 {
    -webkit-box-align: center !important;
    align-items: center !important;
    display: flex !important;
    flex: 1 1 0% !important;
    flex-wrap: wrap !important;
    padding: 2px 8px !important;
    position: relative !important;
    overflow-y: auto !important;
    box-sizing: border-box !important;
    height: 80px !important;
    background-color:#000E08 !important;
}
.css-1wy0on6 {
    -webkit-box-align: center !important;
    align-items: center !important;
    align-self: stretch !important;
    display: flex !important;
    flex-shrink: 0 !important;
    box-sizing: border-box !important;
    background-color: #000E08 !important;
}
.css-1d8n9bt {
    -webkit-box-align: center !important;
    align-items: center !important;
    display: grid !important;
    flex: 1 1 0% !important;
    flex-wrap: wrap !important;
    padding: 2px 8px !important;
    position: relative !important;
    overflow: hidden !important;
    box-sizing: border-box !important;
    background-color: #000E08 !important;
}
.css-g1d714-ValueContainer {
    overflow-y: auto !important;
    height: 90px !important;
    background-color: #000E08 !important;
}
.css-1s2u09g-control {
    border-color: hsl(0, 0%, 49%) !important;
}
.css-12jo7m5 {
    overflow: hidden;
    color: #00CD78 !important;
}
.css-tj5bde-Svg {
    fill: #00CD78 !important;
}
.css-tlfecz-indicatorContainer {
    background-color: #000E08 !important; 
}
.ContactHr{
    color: #B3B3B3;
    width: 48%;
    border-bottom: 1px solid;
    margin-left: 0%;
}
.ContactSelect{
background-color: #000000;
font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    width: 99%;

}
.selectValue{
    margin-top: 2%;
}
.css-1pahdxg-control{
    border-color: white !important;
    box-shadow: none;
}
.css-1pahdxg-control:hover{
    border-color: #E7E7E7 !important;
    box-shadow: none;
}
.css-1pahdxg-control::selection{
    border-color: #E7E7E7 !important;
    box-shadow: none;
}
.meetourTeam{
    display: none;
}
