@media screen  and (max-width:1705px) and (min-width:1026px){
    label {
        font-size: 14px;
        margin-top: 6%;
    }
    .ContactFlex {
        margin-left: 14%;
        width: 84%;
    }
    .email {
        margin-left: 0%;
    }
    .formContent1 {
        /* width: 100%; */
        width: 89%;
        justify-content: space-between;
    }
    .ContactPara {
        margin-left: 5%;
    }
    .inputMsg {
        margin-top: -2%;
    }
    .submitBtn {
        margin-top: 4%;
        width: 30%;
    }
    /* .input1 {
        margin-top: 2%;
        width: 180px;
    }
    .input2 {
        margin-left: 8%;
        width: 196px;
    } */
    /* .input1 {
        margin-top: 2%;
        width: 219px;
    }
    .input2 {
        margin-left: 8%;
        width: 209px;
    } */
    /* .input2 {
        margin-left: 8%;
        width: 167px;
    } */
    /* .input1 {
        margin-top: 2%;
        width: 170px;
    } */
    /* .input1{
        width: 200px;
    }
    .input2{
        width: 200px;
    } */
    .ContactParaTitle1 {
        width: 51%;
        font-size: 26px;
    }
    .paraContent {
        width: 69%;
    margin-top: 4%;
    font-size: 16px;
    }
    .paraContent2 {
        margin-top: 2%;
        font-size: 15px;
    }
    .ContactHr {
        color: #B3B3B3;
        width: 64%;
        border-bottom: none;
        margin-left: 0%;
    }
    .contactBanner {
        padding-bottom: 9%;
    }
    .css-g1d714-ValueContainer {
        margin-top: -0%;
    }
    .contactForm {
        border: 1px solid #2cd58b;
        border-radius: 13px;
        height: 95vh;
        width: 85%;
    }
    
    .linkCont{
        opacity: 0.6;
        margin-top: 1%;
    }
    .ContactParaTitle2 {
        font-size: 19px;
    }
    .css-1s2u09g-control:hover {
        border-color: hsl(0, 0%, 46%) !important;
    }
    .meetourTeam{
        display: none;
    }
}




/* @media screen  and (max-width:1440px)and (min-width:1328px)
{
   
    .formContent1 {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .email {
        margin-left: 0%;
    }
    .ContactFlex {
        display: flex;
        margin-bottom: 9%;
        margin-left: 12%;
        margin-top: 6%;
        width: 86%;
    }   
    .contactForm {
        border: 1px solid #2cd58b;
        border-radius: 13px;
        height: 88vh;
        width: 70%;
    }
    .paraContent {
        width: 57%;
    }
    .ContactFlex {
        width: 89% !important;
        margin-left: 11%;
        margin-top: 6%;
        margin-bottom: 9%;
    }
    .input1{
        width: 188px;
    }
    .input2{
        width: 188px;
    }
}  */



/* @media screen   and (max-width:1326px)and (min-width:1026px){
    .input1 {
        margin-top: 2%;
        width: 165px;
    }

    .contactForm {
        width: 920px;
        height: 605px
    }
} */