@media screen   and (max-width:1705px)and (min-width:1026px){
    label {
        font-size: 14px;
    }
    .ContactFlex {
        margin-left: 14%;
    }
    .contactForm {
        width: 576px;
        height: 605px
    }
    .email {
        margin-left: 8%;
    }
    .formContent1 {
        width: 100%;
    }
    .input1 {
        margin-top: 2%;
        width: 188px;
    }
    .input2 {
        margin-left: 8%;
        width: 188px;
    }
    .ContactParaTitle1 {
        width: 43%;
        font-size: 26px;
    }
    .paraContent {
        width: 46%;
    }
    .ContactHr {
        color: #B3B3B3;
        width: 44%;
        border-bottom: none;
    }
    .contactBanner {
        padding-bottom: 9%;
    }
    .css-g1d714-ValueContainer {
        margin-top: -0%;
    }
    .linkCont{
        opacity: 0.6;
    }
    .css-1s2u09g-control:hover {
        border-color: hsl(0, 0%, 46%) !important;
    }
    .meetourTeam{
        display: none;
    }
}


/* @media screen   and (max-width:14405px)and (min-width:1026px){
    .input1 {
        margin-top: 2%;
        width: 178px;
    }
    .input2 {
        margin-left: 8%;
        width: 183px;
    }
} */