@media screen and (max-width:1024px) and (min-width:776px){
    .ContactFlex {
        margin-left: 5%;
    }
    .contactForm {
        width: 105%;
        height: 619px
    }
    .email {
        margin-left: 8%;
    }
    .input1 {
        margin-top: 2%;
        width: 185px;
    }
    .input2 {
        margin-left: 8%;
        width: 185px;
    }
    .ContactParaTitle1 {
        width: 68%;
        font-size: 25px;
    }
    .paraContent {
        width: 77%;
        font-size: 14px
    }
    .ContactHr {
        color: #B3B3B3;
        width: 68%;
        border-bottom: none;
    }
    .contactBanner {
        padding-bottom: 9%;
    }
    .css-g1d714-ValueContainer {
        margin-top: 0%;
    }
    .linkCont{
        opacity: 0.6;
    }
    
}