@media screen and (max-width:1024px) and (min-width:770px){
    .ContactFlex {
        margin-left: 6%;
    }
    .ContactFlex {
        display: flex;
        width: 87%;
        margin-left: 13%;
        margin-top: 6%;
        margin-bottom: 9%;
    }
    .contactForm {
        width: 963px !important;
        height: 590px;
        margin-left: -7%;
    }
    .submitBtn {
        width: 31%;
        margin-top: 4%;
        margin-left: 57%;
    }
    label {
        margin-top: 5%;
        font-size: 13px;
    }
    .ContactSelect{
        background-color: #000000;
        font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
        
        }
    .inputMsg {
        margin-top: 0%;
    }
    .contactTitle1 {
        font-size: 47.7113px;
    }
    .contactTitle2 {
        font-size: 19px;
    margin-top: 0%;
    margin-left: 1%;
    }
    .email {
        margin-left: 1%;
    }
    /* .input1 {
        margin-top: 2%;
        width: 165px;
    }
    .input2 {
        margin-left: 8%;
        width: 165px;
    } */
    .ContactParaTitle1 {
        width: 58%;
    font-size: 21px;
    }
    .paraContent {
        width: 77%;
        font-size: 14px;
        margin-top: 3%;
    }
    .paraContent2 {
        margin-top: 2%;
    }
    .ContactHr {
        color: #B3B3B3;
        width: 73%;
        border-bottom: none;
        margin-left: 0%;
    }
    .contactBanner {
        padding-bottom: 9%;
    }
    .css-g1d714-ValueContainer {
        margin-top: 0%;
    }
    .linkCont{
        opacity: 0.6;
        margin-top: 2%;
    }
    .meetourTeam{
        display: none;
    }
    .formContent1 {
        /* display: flex; */
        justify-content: space-between;
        width: 89%;
    }
}