@media screen and (max-width:768px) and (min-width:430px)  {
    .contactTitle1 {
        font-size: 39px;
        margin-left: -3%;
    }
    .contactTitle2{
        font-size: 16px;
    margin-top: 0%;
        margin-left: -2%;
    }
    .email {
        margin-left: 0%;
    }
    label {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #9BA4A2;
        margin-top: 3%;
    }
    .submitBtn {
        width: 29%;
        margin-top: 2%;
        
    }
    .ContactFlex{
        display: block;
        margin-left: 12%;
        width: 87%;
        margin-left: 17%;
        margin-top: 6%;
        margin-bottom: 9%;
    }
    .contactForm {
        width: 69%;
        margin-left: 3%;
        height: 575px;
    }
    /* .input1 {
        width: 198px;
    }
    .input2 {
        width: 202px;
    } */
    .formContent1 {
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .css-g1d714-ValueContainer {
        height: 87px;
    }
    .ContactParaTitle1 {
        margin-top: 4%;
        font-size: 22px;
        width: 74%;
    }
    .paraContent {
        font-size: 14px;
        width: 72%;
        padding-bottom: 6%;
        margin-top: 2%;
    }
    .ContactHr {
        width: 71%;
    margin-left: 0%;
    }
    .paraContent2 {
        margin-top: 1%;
    }
    .linkCont{
        margin-bottom: 8%;
        opacity: 0.6;
        margin-top: 1%;
    }
    .contactBanner {
        margin-bottom: -1%;
        padding-bottom: 9%;
    }
    .meetourTeam{
        display: none;
    }
    .inputMsg {
        width: 91%;
        height: 20vh;
        margin-top: 0%;
    }
}