.homebg {
    position: relative;
}

.homeBannerimg {
    width: 100%;
    display: block;
}

.homeBannerimgRes {
    display: none;
}

.homeBanner {
    padding: 5% 5%;
    position: absolute;
    top: 150px;
}

#homeBannerTitle {
    font-family: Manrope;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

#homeBannerText {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    width: 47%;
    color: #CBCBCB;
    margin: 1% 0 0 0;
}

#colorText {
    color: #00CD78;
}

.bannerButton {
    margin: 3% 0 0 0;
}

.exploreButton {
    background: #00CD78;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    outline: none;
    border: none;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}


@media screen and (max-width:1440px) and (min-width:1025px) {
    .homebg {
        position: relative;
    }

    .homeBannerimg {
        width: 100%;
        display: block;
    }

    .homeBannerimgRes {
        display: none;
    }

    .homeBanner {
        padding: 5% 5%;
        position: absolute;
        top: 150px;
    }

    #homeBannerTitle {
        font-family: Manrope;
        font-size: 50px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }

    #homeBannerText {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        width: 47%;
        color: #CBCBCB;
        margin: 1% 0 0 0;
    }

    #colorText {
        color: #00CD78;
    }

    .bannerButton {
        margin: 3% 0 0 0;
    }

    .exploreButton {
        background: #00CD78;
        border-radius: 8px;
        width: 150px;
        height: 40px;
        outline: none;
        border: none;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

    }
}

@media screen and (min-width:1441px) {

    .homebg {
        position: relative;
    }

    .homeBannerimg {
        width: 100%;
        display: block;
    }

    .homeBannerimgRes {
        display: none;
    }

    .homeBanner {
        padding: 5% 5%;
        position: absolute;
        top: 150px;
    }

    #homeBannerTitle {
        font-family: Manrope;
        font-size: 50px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }

    #homeBannerText {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 41%;
        color: #CBCBCB;
        margin: 1% 0 0 0;
    }

    #colorText {
        color: #00CD78;
    }

    .bannerButton {
        margin: 3% 0 0 0;
    }

    .exploreButton {
        background: #00CD78;
        border-radius: 8px;
        width: 150px;
        height: 40px;
        outline: none;
        border: none;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .homebg {
        position: relative;
    }

    .homeBannerimg {
        width: 100%;
        display: block;
    }

    .homeBannerimgRes {
        display: none;
    }

    .homeBanner {
        padding: 5% 5%;
        position: absolute;
        top: 150px;
    }

    #homeBannerTitle {
        font-family: Manrope;
        font-size: 50px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        margin-bottom: 3%;
    }

    #homeBannerText {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        width: 47%;
        color: #CBCBCB;
        margin: 1% 0 0 0;
    }

    #colorText {
        color: #00CD78;
    }

    .bannerButton {
        margin: 3% 0 0 0;
    }

    .exploreButton {
        background: #00CD78;
        border-radius: 8px;
        width: 150px;
        height: 40px;
        outline: none;
        border: none;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;

    }
}

@media screen and (max-width:768px) and (min-width:430px) {
    .homebg {
        margin: 0% 0 0 0;
    }

    .homeBannerimgRes {
        display: none;
    }

    .homeBanner {
        padding: 5% 5%;
        position: absolute;
        top: 80px;
    }

    #homeBannerTitle {
        font-size: 30px;
        width: 60%;
        line-height: 30px;
    }

    #homeBannerText {
        font-size: 12px;
        margin: 1% 0 0 0;
        width: 60%;
        line-height: 20px;
    }

    #colorText {
        color: #00CD78;
    }

    .clients {
        display: inline-flex;
        margin: 2% 0 0 -5.5%;
        width: 70%;
    }

    .clients div {
        margin: 0 0 0 8%;
    }

    #clientnoText {
        font-size: 20px;
    }

    #clientText {
        font-size: 10px;
    }

    .exploreButton {
        width: 18%;
        height: 35px;
    }
}

@media screen and (max-width:425px) and (min-width:376px) {
    .homeBannerimg {
        display: none;
    }

    .homeBannerimgRes {
        display: block;
        width: 100%;
    }

    .homeBanner {
        padding: 15% 5%;
        position: absolute;
        top: 80px;
    }

    #homeBannerTitle {
        font-size: 30px;
        width: 100%;
        line-height: 35px;
    }

    #homeBannerText {
        font-size: 12px;
        margin: 1% 0 0 0;
        width: 100%;
        line-height: 20px;
    }

    #colorText {
        color: #00CD78;
    }

    .clients {
        display: inline-flex;
        margin: 5% 0 0 -8.5%;
        width: 100%;
    }

    .clients div {
        margin: 0 0 0 8%;
    }

    #clientnoText {
        font-size: 20px;
    }

    #clientText {
        font-size: 10px;
    }

    .exploreButton {
        width: 35%;
        height: 40px;
        margin: 5% 0 0 0;
    }
}

@media screen and (max-width:376px) {
    .homeBannerimg {
        display: none;
    }

    .homeBannerimgRes {
        display: block;
        width: 100%;
    }

    .homeBanner {
        padding: 15% 5%;
        position: absolute;
        top: 80px;
    }

    #homeBannerTitle {
        font-size: 30px;
        width: 100%;
        line-height: 35px;
    }

    #homeBannerText {
        font-size: 12px;
        margin: 1% 0 0 0;
        width: 100%;
        line-height: 20px;
    }

    #colorText {
        color: #00CD78;
    }

    .clients {
        display: inline-flex;
        margin: 5% 0 0 -8.5%;
        width: 100%;
    }

    .clients div {
        margin: 0 0 0 8%;
    }

    #clientnoText {
        font-size: 20px;
    }

    #clientText {
        font-size: 10px;
    }

    .exploreButton {
        width: 35%;
        height: 40px;
        margin: 5% 0 0 0;
    }
}

@media screen and (max-width:280px) {
    .homeBannerimg {
        display: none;
    }

    .homeBannerimgRes {
        display: block;
        width: 100%;
    }

    .homeBanner {
        padding: 10% 5%;
        position: absolute;
        top: 80px;
    }

    #homeBannerTitle {
        font-size: 20px;
        width: 100%;
        line-height: 28px;
    }

    #homeBannerText {
        font-size: 12px;
        margin: 1% 0 0 0;
        width: 100%;
        line-height: 20px;
    }

    #colorText {
        color: #00CD78;
    }

    .clients {
        display: inline-flex;
        margin: 5% 0 0 -5%;
        width: 100%;
    }

    .clients div {
        margin: 0 0 0 5%;
    }

    #clientnoText {
        font-size: 16px;
    }

    #clientText {
        font-size: 10px;
    }

    .exploreButton {
        width: 45%;
        height: 35px;
        margin: 5% 0 0 0;
        font-size: 12px;
    }
}