@import 'bootstrap/dist/css/bootstrap.min.css';
.carouselCards{
    background-color: black;
    height: 80vh;
    padding: 8% 10%;
    display: inline-flex;
    width: 100%;
}

.innercarouselCards1,.innercarouselCards2,.innercarouselCards3,.innercarouselCards4,.innercarouselCards5,.innercarouselCards6,.innercarouselCards7{
    padding: 5% 0%;
    position: relative;
}
.innercarouselCards1{
    background-image: url('../../../images/homepage/algohome2.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards2{
    background-image: url('../../../images/homepage/algohome7.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards3{
    background-image: url('../../../images/homepage/algohome8.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards4{
    background-image: url('../../../images/homepage/algohome3.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards5{
    background-image: url('../../../images/homepage/algohome4.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards6{
    background-image: url('../../../images/homepage/algohome5.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards7{
    background-image: url('../../../images/homepage/algohome6.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards1:hover{
    background-image: url('../../../images/homepage/algohome15.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards2:hover{
    background-image: url('../../../images/homepage/algohome12.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards3:hover{
    background-image: url('../../../images/homepage/algohome14.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards4:hover{
    background-image: url('../../../images/homepage/algohome13.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards5:hover{
    background-image: url('../../../images/homepage/algohome9.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards6:hover{
    background-image: url('../../../images/homepage/algohome10.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}
.innercarouselCards7:hover{
    background-image: url('../../../images/homepage/algohome11.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}

.innercarouselCards1:hover #carouselTitle,.innercarouselCards2:hover #carouselTitle,.innercarouselCards3:hover #carouselTitle,.innercarouselCards4:hover #carouselTitle,.innercarouselCards5:hover #carouselTitle{
    color: #00CD78;
  }
.carouselCards img {
    margin: 0 0 0 1%;
}
#carouselTitletext{
    font-family: Manrope;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    color: #FFFFFF;  
    height: 5%;  
    margin: 0 0 0 15%;
}

#carouselText{
    font-family: Manrope;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    width: 55%;
    margin: 10% 0 0 6%;
}
.whiteArrow{
    position: absolute;
    top: 325px;
    left: 160px;
}
.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev-icon {
   display: none;
}