.ddosIncidentBanner {
    background-image: url(../../images/ddosincident/ddosIncidentBanner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90vh;
}

.bannerTitle1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 62px;
    line-height: 144.6%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-left: 12%;
    margin-top: 5%;
}

.bannercolortext {
    color: #00CD78;
}

.ddosIncidentBannerright {
    margin-top: 25%;
}

.dembtn {
    background: #CD0000;
    border-radius: 11.0448px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 19.3284px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 15%;
    width: 200px;
    height: 50px;
}

.ddosIncidentPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 227.6%;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.8;
    width: 500px;
    margin-top: 10%;
    margin-left: 5%;
}

.ddosincisection2 {
    background-color: #000E08;
    margin-top: -1%;
}


.ddosIncidentBanner4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 6%;
    grid-column-gap: 4%;
    margin: 0% 6%;
    padding-top: 6%;
}

.ddosIncidentCardNumber {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120.1%;
    letter-spacing: -0.01em;
    color: #00CD78;
}

.ddosIncidentCardTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120.1%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding: 5% 0;
}

.ddosIncidentCardPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.1%;
    color: #FFFFFF;
    opacity: 0.8;

}

.ddosIncidentSection4 {
    padding-top: 10%;
}

.ddosIncidentSection4Title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #00CD78;
}

.ddosIncidentSection4Flex {
    display: flex;
    background-color: #02160E;
    width: 78%;
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 3%;
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.ddosIncidentSection4Title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #00CD78;
}

.incidentTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 137.6%;
    color: #FFFFFF;
}

.incidentPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.1%;
    color: #FFFFFF;
    opacity: 0.8;
    width: 75%;
    padding-top: 5%;
}

.verticleLine {
    border-left: 2px solid #00CD78;
    height: 95px;
    padding-left: 22px;
    margin-left: -5%;
}


.ddosIncidentBanner3 {
    margin: 0%;
    padding: 0%;
    margin-top: -2%;
    padding-bottom: 10%;
}

.ddosIncidentFlex {
    display: flex;
    margin-top: 6%;
}

.ddosIncidentFlexContent {
    margin-left: 12%;
    margin-top: 6%;
}

.ddosIncidentFlexTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120.1%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    width: 70%;
}

.ddosIncidentFlexPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 190.6%;
    color: #FFFFFF;
    opacity: 0.8;
    width: 67%;
}

.IncidentFlexImage {
    margin-left: -37%;
    height: 81%;
    padding-top: 18%;
    padding-bottom: 7%;
}

hr {
    width: 64%;
    margin-left: 0%;
    margin: 5% 0;
}


@media screen and  (min-width:1441px) {

    .bannerTitle1 {
        margin-left: 20%;
    }
}