@media screen and (max-width:1024px) and (min-width:775px) {
    .bannerTitle1 {
        font-size: 49px;
        padding-top: 6%;
        margin-left: 10%;
    }


    .ddosIncidentPara {
        font-size: 14px;
        width: 72%;
    }

    .dembtn {
        margin-left: 10%;
    }
    .ddosIncidentBanner4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 6%;
        grid-column-gap: 4%;
        margin: 0% 3% 0 6% ;
        padding-top: 6%;
    }

    .ddosIncidentSection4Flex {
        display: flex;
        background-color: #02160E;
        width: 78%;
        margin-left: 5%;
        border-radius: 20px;
        margin-top: 3%;
        padding-left: 10%;
        padding-top: 4%;
        padding-bottom: 5%;
    }

    .incidentPara {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.8;
        width: 85%;
        padding-top: 5%;
    }
    .ddosIncidentFlexContent {
        margin-left: 8%;
        margin-top: 6%;
    }

    .ddosIncidentFlexTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 80%;
    }
    
    .ddosIncidentFlexPara {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 190.6%;
        color: #FFFFFF;
        opacity: 0.8;
        width: 75%;
    }
    .IncidentFlexImage {
        margin-left: -20%;
        height: 81%;
        padding-top: 18%;
        padding-bottom: 7%;
    }
}

