@media screen and (max-width:1024px) and (min-width:775px) {
    .bannerTitle1 {
        font-size: 53px;
        padding-top: 6%;
        margin-left: 13%;
    }

    .bannertitle2 {
        font-size: 53px;
    }

    .ddosIncidentPara {
        font-size: 14px;
        margin-left: 53%;
        width: 42%;
    }

    .dembtn {
        margin-left: 53%;
    }

    .ddosIncidentBannerTitle2 {
        font-size: 27px;
    }

    .serviceIncludesPara {
        width: 70%;
        margin-left: 16%;
    }

    .IncidentFlexImage {
        margin-left: -11%;
        height: 84%;
        margin-top: 4%;

    }
    .ddosIncidentCardPara1 {
        font-size: 14px;
        width: 86%;
    }
    .ddosIncidentCardPara2{
        font-size: 14px;
        width: 71%;
    }
    .ddosIncidentCardPara3{
        font-size: 14px;
        width: 85%;
    }
    .ddosIncidentFlexTitle {
        width: 86%;
        font-size: 25px;
        padding-bottom: 4%;
        padding-top: 4%;
    }

    .ddosIncidentFlexContent {
        margin-left: 4%;
    }

    .ddosincidenthr {
        width: 88%;
        padding-top: 3%;
    }  
    .ddosIncidentBanner4Card {
        margin-left: 6%;
    }
    .ddosIncidentFlexPara {
        width: 89%;
    }

    .ddosIncidentBanner4BannerRight {
        margin-left: 4%;
    }

    .ddosIncidentCardPara {
        width: 86%;
    }

    .ddosIncidentBanner4Card1 {
        padding-left: 6%;
    }
    .ddosIncidentBanner4BannerRight1 {
        margin-left: 15px;
    }
    .Banner4Img1 {
        width: 97%;
    }
    .ddosIncidentCardPara2 {
        width: 83%;
    }
    .Banner4Img2 {
        width: 86%;
    }

    .Banner4Img3 {
        width: 83%;
    }

    .verticleLine {
        margin-left: -7%;
    }

    .incidentPara {
        width: 83%;
    }
    .incidentPara1 {
        width: 80%;
    }
    .ddosIncidentSection4Flex {
        padding-bottom: 7%;
        margin-bottom: -3%;
        width: 85%;
        margin-left: 8%;
        margin-top: 4%;
    }
}