@media screen and (max-width:768px) and (min-width:431px) {
    .ddosIncidentBanner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .ddosIncidentBannerright {
        margin-top: -18%;
    }

    .dembtn {
        margin-left: 37%;
        /* margin-top: -31%; */
        width: 29%;
        height: 46px;
    }

    .ddosIncidentPara {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 227.6%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
        width: 600px;
        margin-top: 3%;
        margin-left: 10%;
    }

    .ddosIncidentBanner4 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 6%;
        grid-column-gap: 4%;
        margin: 0% 3% 0 6% ;
        padding-top: 6%;
    }

    .ddosIncidentSection4Flex {
        display: flex;
        background-color: #02160E;
        width: 78%;
        margin-left: 5%;
        border-radius: 20px;
        margin-top: 3%;
        padding-left: 10%;
        padding-top: 4%;
        padding-bottom: 5%;
    }

    .incidentPara {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.8;
        width: 85%;
        padding-top: 5%;
    }

    .ddosIncidentFlex {
        display: block;
        margin-top: 10%;
    }
    .ddosIncidentFlexContent {
        margin-left: 12%;
        margin-top: 6%;
    }

    .ddosIncidentFlexTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        width: 80%;
    }
    
    .ddosIncidentFlexPara {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 190.6%;
        color: #FFFFFF;
        opacity: 0.8;
        width: 87%;
    }
    .IncidentFlexImage {
        margin-left: 15%;
        height: 100%;
        width: 70%;
        padding-top: 10%;
        padding-bottom: 7%;
    }
}