.algoLove {
    width: 100%;
    position: relative;
    display: inline-flex;
    height: 450px;

}

.algoImg {
    width: 100%;
    display: block;
}

.algoImgRes {
    display: none;
}

.leftText {
    width: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5% 5%;
}

#titlealgotext {
    font-family: Manrope;
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
    width: 85%;
}

#blackText {
    color: white;
}

#algotext {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    width: 85%;
    margin: 5% 0 0 0;
}

.algoanimation {
    width: 50%;
    display: inline-flex;
    position: absolute;
    top: 40px;
    right: 0px;

}

.algoanimation:hover .animation1 {
    transform: none;
    transition: 0.7s;
}

.algoanimation:hover .animation2 {
    transform: none;
    margin: 0 0 0 5%;
    transition: 0.7s;
}

.animation1 {
    background-color: #05DA8D;
    height: 300px;
    width: 30%;
    border-radius: 13px;
    padding: 5% 3%;
    -webkit-transform: rotate(2deg);
    transform: rotate(4deg);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: 0.7s;
}

.animation2 {
    background-color: #05DA8D;
    height: 300px;
    width: 30%;
    border-radius: 13px;
    padding: 5% 3%;
    margin: 1% 0 0 -22%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-6deg);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: 0.7s;
}

#numberText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120.1%;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

#issueText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 170.1%;
    color: #070707;
}

.addrs {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 153.1%;
    color: #FFFFFF;
    margin-top: 7%;
}

#hrinalgLove {
    border: 1px solid #F5F5F5;
}

@media screen and (max-width:1705px) and (min-width:1024px) {

    .leftText {
        width: 40%;
        position: absolute;
        top: -35px;
        left: 50px;
        padding: 5% 3%;
    }

    #titlealgotext {
        width: 100%;
    }

    .algoImgRes {
        display: none;
    }

    #algotext {
        width: 85%;
    }

    .algoanimation  div{
        top: 40px;
        left: 650px;
    }

    .animation1,
    .animation2 {
        height: 300px;
        width: 35%;
    }

    #issueText {

        margin: 15% 0 0 0;
    }
}

@media screen and (max-width:1024px) and (min-width:768px) {
    .algoLove {
        width: 100%;
        position: relative;
        display: inline-flex;
        height: 500px;
    }
    
    .algoImg {
        width: 100%;
        display: block;
    }
    
    .algoImgRes {
        display: none;
    }
    
    .leftText {
        width: 50%;
        position: absolute;
        top: 20px;
        left: 10px;
        padding: 5% 5%;
    }
    
    #titlealgotext {
        font-family: Manrope;
        font-size: 43px;
        font-weight: 700;
        line-height: 52px;
        letter-spacing: -0.04em;
        text-align: left;
        color: #000000;
        width: 85%;
    }
    
    #blackText {
        color: white;
    }
    
    #algotext {
        font-family: Manrope;
        font-size: 16px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        width: 80%;
        margin: 5% 0 0 0;
    }
    
    .algoanimation {
        width: 50%;
        display: inline-flex;
        position: absolute;
        top: 70px;
        right: 0px;
        margin-left: -15%;
    }
    
    .algoanimation:hover .animation1 {
        transform: none;
        transition: 0.7s;
    }
    
    .algoanimation:hover .animation2 {
        transform: none;
        margin: 0 5% 0 5%;
        transition: 0.7s;
    }
    
    .animation1 {
        background-color: #05DA8D;
        height: 300px;
        width: 50%;
        border-radius: 13px;
        padding: 5% 3%;
        -webkit-transform: rotate(2deg);
        transform: rotate(4deg);
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        transition: 0.7s;
    }
    
    .animation2 {
        background-color: #05DA8D;
        height: 300px;
        width: 50%;
        border-radius: 13px;
        padding: 5% 3%;
        margin: 1% 0 0 -25%;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-6deg);
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        transition: 0.7s;
    }
    
    #numberText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 120.1%;
        letter-spacing: -0.04em;
        color: #FFFFFF;
    }
    
    #issueText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        color: #070707;
    }
    
    .addrs {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 153.1%;
        color: #FFFFFF;
        margin-top: 7%;
    }
    .addrs br{
        display: none;
    }
    #hrinalgLove {
        border: 1px solid #F5F5F5;
    }
}

@media screen and (max-width:768px) and (min-width:430px) {
    .algoLove {
        background-color: #05DA8D;
        height: 700px;
    }

    .leftText {
        width: 100%;
        padding: 5% 0;
    }

    #titlealgotext {
        text-align: center;
        width: 90%;
    }

    #algotext {
        width: 90%;
    }

    #hrinalgLove {
        border: 1px solid #F5F5F5;
        width: 90%;
        margin-left: 3%;
        margin-top: 3%;
    }

    .algoImg {
        display: none;
    }

    .algoImgRes {
        display: block;
        width: 230px;
        height: 200px;
        position: absolute;
        top: 200px;
        left: 280px;
    }

    .algoanimation {
        top: 300px;
        width: 100%;
        padding: 5% 5%;
    }

    .algoanimation div {
        width: 30%;
        margin: -2% 0 0 10%;
    }

    .animation1 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;
    }

    .animation2 {
        height: 280px;
        transform: none;
        margin: -3% 0 0 0;

    }


    .algoanimation:hover .animation1 {
        transform: none;
        transition: none;
    }

    .algoanimation:hover .animation2 {
        transform: none;
        transition: none;
        margin-top: -3%;        
    }

}

@media screen and (max-width:430px) and (min-width:375px) {
    .algoLove {
        background-color: #05DA8D;
        height: 1100px;
        padding: 2% 3%;
        width: 95%;
    }

    .leftText {
        width: 90%;
        padding: 5% 0;
    }

    #titlealgotext {
        text-align: center;
        width: 90%;
        font-size: 30px;
        line-height: 32px;
    }

    #algotext {
        width: 95%;
        font-size: 14px;
    }

    #hrinalgLove {
        border: 1px solid #F5F5F5;
        width: 90%;
    }

    .algoImg {
        display: none;
    }

    .algoImgRes {
        display: block;
        width: 230px;
        height: 200px;
        position: absolute;
        top: 118px;
        left: 100px;
    }

    .algoanimation {
        top: 300px;
        left: 1px;
        width: 90%;
        padding: 5% 4%;
        display: block;
    }

    .algoanimation div {
        width: 95%;
        margin: 0 0 10% -2%;

    }

  
    .animation1 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;
    }

    .animation2 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;

    }


    .algoanimation:hover .animation1 {
        transform: none;
        transition: none;
        margin: 0 0 10% -2%;
    }

    .algoanimation:hover .animation2 {
        transform: none;
        transition: none;
        margin: 0 0 10% -2%;
    }


    #issueText {
        margin: 3% 0 0 0;
    }
}

@media screen and (max-width:375px) {
    .algoImgRes {
        top: 125px;
        left: 75px;
    }

}

@media screen and (max-width:360px) {
    .algoLove {
        background-color: #05DA8D;
        height: 1295px;
        padding: 2% 3%;
    }

    .leftText {
        width: 100%;
        padding: 5% 0;
    }

    #titlealgotext {
        text-align: center;
        width: 90%;
        font-size: 30px;
        line-height: 32px;
    }

    #algotext {
        width: 95%;
        font-size: 14px;
    }

    #hrinalgLove {
        border: 1px solid #F5F5F5;
        width: 90%;
    }

    .algoImg {
        display: none;
    }

    .algoImgRes {
        display: block;
        width: 230px;
        height: 200px;
        position: absolute;
        top: 118px;
        left: 100px;
    }

    .algoanimation {
        top: 300px;
        left: 1px;
        width: 95%;
        padding: 5% 4%;
        display: block;
    }

    .algoanimation div {
        width: 90%;
        margin: 0 0 10% 2%;

    }

    /* .algoanimation div:hover{
        margin: none;
        transform: none;
        transition: none;
    } */
    .animation1 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;
    }

    .animation2 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;

    }

    .animation3 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;
    }

    .algoanimation:hover .animation1 {
        transform: none;
        transition: none;
        margin: 0 0 10% 2%;
    }

    .algoanimation:hover .animation2 {
        transform: none;
        transition: none;
        margin: 0 0 10% 2%;
    }

    .algoanimation:hover .animation3 {
        transform: none;
        transition: none;
        margin: 0 0 10% 2%;
    }

    #issueText {
        margin: 3% 0 0 0;
    }
}

@media screen and (max-width:280px) {
    .algoLove {
        background-color: #05DA8D;
        height: 1290px;
        padding: 2% 3%;
    }

    .leftText {
        width: 100%;
        padding: 5% 0;
    }

    #titlealgotext {
        text-align: center;
        width: 90%;
        font-size: 30px;
        line-height: 32px;
    }

    #algotext {
        width: 95%;
        font-size: 14px;
    }

    #hrinalgLove {
        border: 1px solid #F5F5F5;
        width: 90%;
    }

    .algoImg {
        display: none;
    }

    .algoImgRes {
        display: block;
        width: 130px;
        height: 100px;
        position: absolute;
        top: 170px;
        left: 78px;
    }

    .algoanimation {
        top: 350px;
        left: 1px;
        width: 95%;
        padding: 5% 4%;
        display: block;
    }

    .algoanimation div {
        width: 90%;
        margin: 0 0 10% 2%;

    }

    .animation1 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;
    }

    .animation2 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;

    }

    .animation3 {
        height: 280px;
        transform: none;
        margin: 0 0 0 0;
    }

    .algoanimation:hover .animation1 {
        transform: none;
        transition: none;
        margin: 0 0 10% 2%;
    }

    .algoanimation:hover .animation2 {
        transform: none;
        transition: none;
        margin: 0 0 10% 2%;
    }

    .algoanimation:hover .animation3 {
        transform: none;
        transition: none;
        margin: 0 0 10% 2%;
    }

    #issueText {
        margin: 3% 0 0 0;
    }
}