.algoLove {
    width: 100%;
    position: relative;
    display: inline-flex;
}

.algoImg {
    width: 100%;
    display: block;
}
.algoImgRes{
    display: none;
}

.leftText {
    width: 50%;
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5% 5%;
}

#titlealgotext {
    font-family: Manrope;
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: #000000;
    width: 85%;
}

#blackText {
    color: white;
}

#algotext {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    width: 75%;
    margin: 5% 0 0 0;
}
.algoanimation {
    width: 50%;
    display: inline-flex;
    position: absolute;
    top: 80px;
    right: 0px;

}
.algoanimation:hover .animation1{
    transform: none;
    transition: 0.7s;
}
.algoanimation:hover .animation2{
    transform: none;
    margin: 0 0 0 3%;
    transition: 0.7s;
}
.algoanimation:hover .animation3{
    transform: none;
    margin: 0 0 0 3%;
    transition: 0.7s;
}
.animation1{
    background-color: #05DA8D;
    height: 370px;
    width: 25%;
    border-radius: 13px;
    padding: 5% 3%;
    -webkit-transform: rotate(2deg);
    transform: rotate(4deg);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: 0.7s;
}
.animation2 {
    background-color: #05DA8D;
    height: 370px;
    width: 25%;
    border-radius: 13px;
    padding: 5% 3%;
    margin: 1% 0 0 -11%;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-6deg);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: 0.7s;
}
.animation3 {
    background-color: #05DA8D;
    height: 370px;
    width: 25%;
    border-radius: 13px;
    padding: 5% 3%;
    margin: 0 0 0 -12%;
    -webkit-transform: rotate(5deg);
    transform: rotate(10deg);
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    transition: 0.7s;
}
#numberText {
    font-family: Manrope;
    font-size: 43px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.04em;
    text-align: left;
    color: white;
}
#issueText {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 45% 0 0 0;
}
#hrinalgLove{
  border: 1px solid #F5F5F5;
}
@media screen and (max-width:1705px) and (min-width:1025px) {

    .leftText {
        width: 40%;
        position: absolute;
        top: -35px;
        left: 50px;
        padding: 5% 3%;
    }
    #titlealgotext{
         width: 100%;
    }
    .algoImgRes{
        display: none;
    }
    
    #algotext {
        width:100%;
    }
    .algoanimation {
        top: 50px;
        left: 650px; 
    }
    .animation1,.animation2,.animation3{
        height: 335px;
        width: 28%;
    }
    #issueText {
        
        margin: 35% 0 0 0;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .algoanimation {
        top: 15px;
        left: 450px; 
    }
    .animation1,.animation2,.animation3{
        height:265px;
        width: 30%;
        padding: 1% 3%;

    }
    .algoImgRes{
        display: none;
    }
    
    .leftText {
        width: 40%;
        position: absolute;
        top: 1x;
        left: 50px;
        padding: 0% 3%;
    }
    #titlealgotext{
        font-size: 30px;
        line-height: 35px;
    }
    #algotext{
        font-size: 14px;
        line-height: 22px; 
        width: 100%;
    }
    #numberText{
    font-size: 30px;

    }
    #issueText{
        font-size: 14px;
        line-height: 22px; 
        width: 100%;
        margin: 25% 0 0 0;

    }
}
@media screen and (max-width:769px) and (min-width:445px) {
    .algoLove{
        background-color: #05DA8D;
        height: 75vh;
    }
    .leftText{
        width: 100%;
        padding: 5% 0;
    }
    #titlealgotext{
        text-align: center;
        width:90%;
    }
    #algotext{
        width: 90%;
    }
    #hrinalgLove{
        border: 1px solid #F5F5F5;
        width: 90%;
      }
    .algoImg {
        display: none;
    }
    .algoImgRes{
        display: block;
        width: 230px;
        height: 200px;
        position: absolute;
        top:200px;
        left: 280px;
    }
    .algoanimation {
        top: 300px;
        left: 0px; 
        width: 100%;
        padding: 5% 5%;
    }
    .algoanimation div{
        width: 30%;
        margin: 0 0 0 2%;
    }
    .animation1{
            height: 280px;
            transform:none;
            margin:0 0 0 0;
    }
    .animation2 {
        height: 280px;
        transform:none;
        margin:0 0 0 0;

    }
    .animation3 {
        height: 280px;
        transform:none;
        margin:0 0 0 0;
    }
    .algoanimation:hover .animation1{
        transform: none;
        transition: none;
    }
    .algoanimation:hover .animation2{
        transform: none;
        transition:none;
    }
    .algoanimation:hover .animation3{
        transform: none;
        transition: none;
    }
}