@media screen and (max-width:1024px) and (min-width:775px) {
    .ransom_section1{
        background-image: url('../../images/Ransomeware/ransomwareBg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .ransome_part1{
        width: 51%;
        padding: 10% 0 0% 7%;
    }
    .ransome_section1_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-bottom: 5%;
    }
    .colorText{
        color: #00CD78;
    }
    .ransome_section1_desc{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.6;
        padding-bottom: 5%;
        width: 100%;
    }
    .demobtn{
        background: #00CD78;
        border-radius: 8px;
        width: 20%;
        padding: 0.5%;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #020906;
    }
    .ransome_part2{
        display: flex;
        padding-top: 15%;
        padding-left: 5%;
    }
    .ransome_part2 img{
        width: 404px;
        height: 404px;
    }
    .ransome_part2_right{
        width: 50.12%;
        padding-left: 3%;
        padding-bottom: 3%;
    }
    .ransome_part2_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
    }
    .ransome_part2_desc{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA5A3;
        opacity: 0.6;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .ransomware_section2{
        background-color: #000E08;
        padding-bottom: 5%;
    }
    .ransomeware_section_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        padding-bottom: 5%;
    }
    .ransomeCardList{
        display: flex;
        padding-left: 0%;
    }
    .ransomeCard{
        background-image: url('../../images/Ransomeware/ransomCard.png');
        background-repeat: no-repeat;
        background-size: 59% 97%;
        padding: 4%;
        padding-top: 10%;
    }
    .ransomeCard:hover{
        background-image: url('../../images/Ransomeware/ransomCard.png');
        background-repeat: no-repeat;
        background-size: 59% 97%;
    }
    .ransomCard_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-bottom: 2%;
        width: 42%;
    }
    .ransomCard_desc{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        padding-bottom: 2%;
        width: 50%;
    }   
    .ransomeDotImg{
        width: 261px;
        height: 201px;
        margin-top: 28%;
        margin-left: -30%;
    }
    .ransomeDotright{
        width: 400px;
        height: 201px;
        margin-top: 0%;
        margin-left: -25%;
    }
    .ransomList1{
        padding-left: 5%;
        margin-top: -3%;
    }
    .ransomList3{
        margin-top: -5%;
        padding-left: 5%;
    }
    .ransomList2{
        margin-left: 59%;
        margin-top: -6%;
        width: 85%;
    }     
    .ransomList4{
        margin-left: 57%;
        margin-top: -6%;
        width: 90%;
    }   
}