.ransom_section1{
    background-image: url('../../images/Ransomeware/ransomwareBg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ransome_part1{
    width: 50%;
    padding: 10% 0 0% 7%;
}
.ransome_section1_title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 120.1%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    padding-bottom: 2%;
}
.colorText{
    color: #00CD78;
}
.ransome_section1_desc{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.1%;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 2%;
    width: 90%;
}
.demobtn{
    background: #00CD78;
    border-radius: 8px;
    width: 20%;
    text-align: center;
    margin-left: 34%;
    padding: 1%;
    margin-top: 4%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    margin-left: 0%;
}
.ransome_part2{
    display: flex;
    padding-top: 5%;
    padding-left: 7%;
}
.ransome_part2 img{
    width: 475px;
    height: 314px;
    margin-top: 10%;
}
.ransome_part2_right{
    width: 55%;
    padding-left: 3%;
    padding-bottom: 7%;
    padding-top: 2%;
}
.ransome_part2_title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 120.1%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
}
.ransome_part2_desc{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 203.1%;
    text-align: justify;
    color: #9BA5A3;
    opacity: 0.6;
    padding-bottom: 0%;
    padding-top: 2%;
}
.ransomware_section2{
    background-color: #000E08;
    padding-bottom: 5%;
}
.ransomeware_section_title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #00CD78;
    padding-bottom: 5%;
}
.ransomeCardList{
    display: flex;
}
.ransomeCard{
    background-image: url('../../images/Ransomeware/ransomeCard.png');
    background-repeat: no-repeat;
    background-size: 48% 95%;
    padding: 4%;
    padding-top: 7%;
    width: 75%;
}
.ransomeCard:hover{
    background-image: url('../../images/Ransomeware/ransomCard.png');
    background-repeat: no-repeat;
    background-size: 48% 95%;
}
.ransomCard_title{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120.1%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    padding-bottom: 2%;
    width: 42%;
}
.ransomCard_desc{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 203.1%;
    text-align: left;
    color: #9BA4A2;
    opacity: 0.6;
    padding-bottom: 2%;
    width: 42%;
    
}
.ransomeDotImg{
    width: 298px;
    height: 211px;
    margin-top: 20%;
    margin-left: -39%;
}
.ransomList1, .ransomList3{
    padding-left: 15%;
    margin-top: -3%;
}
.ransomList2{
    margin-left: 63%;
    margin-top: -6%;
    width: 85%;
}     
.ransomList4{
    margin-left: 52%;
    margin-top: -6%;
    width: 90%;
}                       