@media screen and (max-width:768px) and (min-width:426px) {
    .ransom_section1 {
        background-image: url('../../images/Ransomeware/ransomwareBg.png');
        background-repeat: no-repeat;
        background-size: 100% 60%;
    }

    .ransome_part1 {
        width: 52%;
        padding: 5% 0 0% 5%;
    }

    .ransome_section1_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-bottom: 2%;
        width: 80%;
    }

    .colorText {
        color: #00CD78;
    }

    .ransome_section1_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.6;
        padding-bottom: 5%;
        width: 83%;
    }

    .demobtn {
        background: #00cd78;
        border: none;
        border-radius: 8px;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 700;
        height: 27px;
        letter-spacing: 0;
        line-height: 19px;
        margin: 3% 0 15% 0%;
        outline: none;
        text-align: center;
        width: 100px;
        padding-top: 2.5%;
        cursor: pointer;
    }

    .ransome_part2 {
        display: block;
        padding-top: 0%;
        padding-left: 3%;
        background-color: #000E08;
    }

    .ransome_part2 img {
        width: 404px;
        height: 356px;
        margin-left: 20%;
    }

    .ransome_part2_right {
        width: 90%;
        padding-left: 3%;
        padding-bottom: 0%;
        padding-top: 5%;
    }

    .ransome_part2_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
    }

    .ransome_part2_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        text-align: justify;
        color: #fff;
        opacity: 0.8;
        padding-top: 0%;
        padding-bottom: 1%;
    }

    .ransomware_section2 {
        background-color: #000E08;
        padding-bottom: 5%;
        margin-top: -2%;
        padding-bottom: 8%;
    }

    .ransomeware_section_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        padding-top: 5%;
        padding-bottom: 8%;
    }

    .ransomeCardList {
        display: flex;
        padding-left: 0%;
        width: 80%;
        margin-left: 20%;
    }

    .ransomeCard {
        background-image: url('../../images/Ransomeware/ransomCard.png');
        background-repeat: no-repeat;
        background-size: 100% 97%;
        padding: 5%;
        padding-top: 15%;
        padding-right: 0%;
        height: 270px;
    }

    .ransomeCard:hover {
        background-image: url('../../images/Ransomeware/ransomCard.png');
        background-repeat: no-repeat;
        background-size: 100% 97%;
        height: 270px;
    }

    .ransomCard_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-bottom: 2%;
        width: 90%;
    }

    .ransomCard_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        text-align: justify;
        color: #ffff;
        opacity: 0.8;
        padding-bottom: 2%;
        width: 92%;
    }

    .ransomeDotLeft {
        display: none;
    }

    .ransomeDotright {
        display: none;
    }

    .ransomList1 {
        padding-left: 0%;
        margin-top: -3%;
    }

    .ransomList3 {
        margin-top: 10%;
        padding-left: 0%;
    }

    .ransomList2 {
        margin-left: 13%;
        margin-top: 5%;
    }

    .ransomList4 {
        margin-left: 20%;
        margin-top: 5%;
    }
}



@media screen and (max-width:608px) and (min-width:426px) {
    .ransome_part1{
        width: 68%;
        padding: 10% 0 0% 5%;
    }
    
    .ransome_part2 img {
        width: 370px;
        height: 404px;
        margin-left: 10%;
    }

    .ransomList2 {
        margin-left: -2%;
        margin-top: 5%;
    }
}