@media screen and (max-width:768px) and (min-width:426px) {
    .ransom_section1{
        background-image: url('../../images/Ransomeware/ransomwareBg.png');
        background-repeat: no-repeat;
        background-size: 100% ;
    }
    .ransome_part1{
        width: 51%;
        padding: 5% 0 0% 5%;
    }
    .ransome_section1_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-bottom: 2%;
    }
    .colorText{
        color: #00CD78;
    }
    .ransome_section1_desc{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        color: #FFFFFF;
        opacity: 0.6;
        padding-bottom: 5%;
        width: 100%;
    }
    .demobtn{
        background: #00CD78;
        border-radius: 8px;
        width: 30%;
        padding: 2%;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #020906;
    }
    .ransome_part2{
        display: block;
        padding-top: 5%;
        padding-left: 3%;
        background-color: #000E08;
    }
    .ransome_part2 img{
        width: 404px;
        height: 404px;
        margin-left: 20%;
    }
    .ransome_part2_right{
        width: 90%;
        padding-left: 3%;
        padding-bottom: 0%;
        padding-top: 5%;
    }
    .ransome_part2_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
    }
    .ransome_part2_desc{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA5A3;
        opacity: 0.6;
        padding-top: 0%;
        padding-bottom: 1%;
    }
    .ransomware_section2{
        background-color: #000E08;
        padding-bottom: 5%;
        margin-top: -3%;
    }
    .ransomeware_section_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .ransomeCardList{
        display: flex;
        padding-left: 0%;
        /* width: 50%; */
        margin-left: -3%;
    }
    .ransomeCard{
        background-image: url('../../images/Ransomeware/ransomCard.png');
        background-repeat: no-repeat;
        background-size: 100% 97%;
        padding: 5%;
        padding-top: 20%;
        padding-right: 0%;
    }
    .ransomeCard:hover{
        background-image: url('../../images/Ransomeware/ransomCard.png');
        background-repeat: no-repeat;
        background-size: 100% 97%;
    }
    .ransomCard_title{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding-bottom: 2%;
        width: 90%;
    }
    .ransomCard_desc{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        padding-bottom: 2%;
        width: 92%;
    }   
    .ransomeDotLeft{
        width: 201px;
        height: 201px;
        margin-top: 45%;
        margin-left: 60%;
    }
    .ransomeDotright{
        width: 202px;
        height: 201px;
        margin-top: 28%;
        margin-left: 30%;
    }
    .ransomList1{
        padding-left: 5%;
        margin-top: -3%;
        width: 63%;
    }
    .ransomList3{
        margin-top: -10%;
        padding-left: 5%;
        width: 63%;
    }
    .ransomList2{
        margin-left: 35%;
        margin-top: -10%;
        width: 58%;
    }     
    .ransomList4{
        margin-left: 50%;
        margin-top: -10%;
        width: 58%;
    }   
}