.popupCard{
background-color: #141414;
height: 580px;
width: 425px;
padding: 1.5% 3%;
position: absolute;
right: 0px;
top: 0px;
}
#popupCardTitle{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color:#00CD78;
    width: 95%;
}
#popupCardText{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #A1A1A1;    
    margin: 8% 0 0 0;
}
#popuphrincard{
    height: 0px;
    width: 315px;
    border: 1px solid #00CD78;
}
.closecardBtn{
    float:right;
}
@media screen and (max-width:1024px) and (min-width:768px) {
.popupCard{
    height: 560px;
    width: 380px;
    padding: 1.5% 3%;
    right: 45px;
}
#popupCardTitle{
    font-size: 28px;
}
#popupCardText{
    font-size: 14px;
}
}
@media screen and (max-width:768px) and (min-width:430px) {
    .popupCard{
        height: 530px;
        width: 380px;
        padding: 1.5% 3%;
        right: 0px;
    }
    
    #popupCardTitle{
        font-size: 24px;
    }
    #popupCardText{
        font-size: 12px;
        line-height: 2px;
    }
}
@media screen and (max-width:430px) and (min-width:375px) {
    .popupCard{
        height: 800px;
    }
}
@media screen and (max-width:376px) {
    .popupCard{

    height: 715px;
    padding: 5% 18%;
    }
}