.popupCard{
background-color: #141414;
height: 300px;
width: 425px;
padding: 1.5% 3%;
position: absolute;
right: 0px;
top: 0px;

}
#popupCardTitle{
    font-family: Manrope;
    font-size: 32px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color:#00CD78;
    width: 95%;
}
#popupCardText{
    font-family: Manrope;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #A1A1A1;    
    margin: 8% 0 0 0;
}
#popuphrincard{
    height: 0px;
    width: 315px;
    border: 1px solid #00CD78;
    margin: 6% 0;

}
.closecardBtn{
    float:right;
}
@media screen and (max-width:1024px) and (min-width:768px) {
.popupCard{
    height: 300px;
    width: 380px;
    padding: 1.5% 3%;
    right: 0px;
}
#popupCardTitle{
    font-size: 28px;
}
#popupCardText{
    font-size: 14px;
}
}
@media screen and (max-width:768px) and (min-width:430px) {
    .popupCard{
        height: 700px;
        width: 380px;
        padding: 1.5% 3%;
        right: 0px;
    }
    
    #popupCardTitle{
        font-size: 24px;
    }
    #popupCardText{
        font-size: 16px;
        line-height: 30px;
    }
}
@media screen and (max-width:430px) and (min-width:375px) {
    .popupCard{
        height: 700px;
        width: 400px;
        padding: 3% 0 3% 6%;
    }
    .closecardBtn{
        position: absolute;
        top:5px;
        right: 25px;
    }

    #popupCardTitle{
        margin-top: 8%;
    }
}
@media screen and (max-width:376px) {
    .popupCard{
    height: 600px;
    width: 345px;
    padding: 5% 0 5% 8%;
    }
}
@media screen and (max-width:365px){
    .popupCard{
        height: 650px;
        padding: 3% 10%;
        width: 375px;
    }
    .closecardBtn{
        position: absolute;
        top:5px;
        right: 25px;
    }
}
@media screen and (max-width:280px) {
    .popupCard{
        height: 725px;
        padding: 3% 10%;
        width: 285px;
    }
    .closecardBtn{
        position: absolute;
        top:5px;
        right: 25px;
    }
    #popuphrincard{
        height: 0px;
        width: 230px;
        border: 1px solid #00CD78;
    }
}
