
@media screen and (max-width:425px) and (min-width:376px) {
    .virtual_section1 {
        background-image: url(../../images/virtual/mobBg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 15% 0 15%;
        margin: 0%;
        height: 100vh;
    }

    .virtualBtn {
        background-image: url(../../images/virtual/virtualBtn.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 15%;
        width: 150%;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        margin-left: -25%;
    }

    .virtual_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 133.6%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        margin-top: -10%;
    }

    .virtual_demoBtn {
        background: #00CD78;
        border-radius: 8px;
        width: 30%;
        text-align: center;
        margin-left: 45%;
        padding: 0.5%;
        margin-top: 2%;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        cursor: pointer;
        margin-left: 35%;
    }

    .virtualCardlist {
        background-color: #000E08;
        padding-bottom: 5%;
        padding-left: 5%;
        margin-top: -3%;
    }

    .virtualcard1 {
        display: block;
        padding: 5% 0 0;
    }

    .virtualCard {
        background-image: url('../../images/virtual/virtualCard1.png');
        background-repeat: no-repeat;
        background-size: 90% 100%;
        margin-bottom: 2%;
        padding: 3%;
        width: 100%;
    }

    .virtualCard:hover {
        background-image: url('../../images/virtual/virtualCard2.png');
        background-repeat: no-repeat;
        background-size: 90% 100%;
    }

    .virtualCard_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #919191;
        width: 68%;
    }

    .vectorHrline {
        display: block;
        width: 80%;
        padding: 2% 0;
    }

    .virtualCard_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 90%;
    }

    .virtualBox {
        background-image: url('../../images/virtual/virtualImg.png');
        background-repeat: no-repeat;
        height: 320px;
        padding: 5% 5%;
        background-size: 110% 111%;
        background-position-x: -8vw;
    }

    .virtualBox_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133.6%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        padding-top: 15%;
        width: 65%;
        margin-left: 15%;
    }

    .virtualBox_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 223.1%;
        text-align: center;
        color: #FFFFFF;
        margin-left: -6%;
    }
    .virtualBox_desc br{
        display: none;
    }
    .virtualline_box {
        background-color: #000E08;
        padding-left: 5%;
        padding-bottom: 5%;
        padding-top: 3%;
    }

    .virtual_line {
        display: block;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .Leveraging_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 60%;
    }

    .Leveraging_desc1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .Leveraging_desc2 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .horizline {
        width: 90%;
    }

    .Leveraging_title1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 55%;
    }

    .Leveraging_desc3 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .Leveraging_desc4 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .virtual_section5 {
        background-color: #000E08;
        margin-top: -20%;
        padding-bottom: 5%;
    }
}


@media screen and (max-width: 375px) {
    .virtual_section1 {
        background-image: url(../../images/virtual/mobBg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 15% 0 15%;
        margin: 0%;
        height: 100vh;
    }

    .virtualBtn {
        background-image: url(../../images/virtual/virtualBtn.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 15%;
        width: 150%;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        margin-left: -25%;
    }

    .virtual_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 133.6%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        margin-top: -10%;
    }

    .virtual_demoBtn {
        background: #00CD78;
        border-radius: 8px;
        width: 30%;
        text-align: center;
        margin-left: 45%;
        padding: 0.5%;
        margin-top: 2%;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        cursor: pointer;
        margin-left: 35%;
    }

    .virtualCardlist {
        background-color: #000E08;
        padding-bottom: 5%;
        padding-left: 5%;
        margin-top: -3%;
    }

    .virtualcard1 {
        display: block;
        padding: 5% 0 0;
    }

    .virtualCard {
        background-image: url('../../images/virtual/virtualCard1.png');
        background-repeat: no-repeat;
        background-size: 90% 100%;
        margin-bottom: 2%;
        padding: 3%;
        width: 100%;
    }

    .virtualCard:hover {
        background-image: url('../../images/virtual/virtualCard2.png');
        background-repeat: no-repeat;
        background-size: 90% 100%;
    }

    .virtualCard_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #919191;
        width: 68%;
    }

    .vectorHrline {
        display: block;
        width: 80%;
        padding: 2% 0;
    }

    .virtualCard_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 90%;
    }

    .virtualBox {
        background-image: url('../../images/virtual/virtualImg.png');
        background-repeat: no-repeat;
        height: 340px;
        padding: 5% 5%;
        background-size: 110% 111%;
        background-position-x: -8vw;
    }

    .virtualBox_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133.6%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #00CD78;
        padding-top: 15%;
        width: 65%;
        margin-left: 15%;
    }

    .virtualBox_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 223.1%;
        text-align: center;
        color: #FFFFFF;
        margin-left: -6%;
    }
    .virtualBox_desc br{
        display: none;
    }
    .virtualline_box {
        background-color: #000E08;
        padding-left: 5%;
        padding-bottom: 5%;
        padding-top: 3%;
    }

    .virtual_line {
        display: block;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .Leveraging_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 60%;
    }

    .Leveraging_desc1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .Leveraging_desc2 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .horizline {
        width: 90%;
    }

    .Leveraging_title1 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 55%;
    }

    .Leveraging_desc3 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .Leveraging_desc4 {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 85%;
        margin-left: 4%;
    }

    .virtual_section5 {
        background-color: #000E08;
        margin-top: -20%;
        padding-bottom: 5%;
    }
}