

.ddosBanner{
    /* background-image: url(../../images/ddos/Bgimg1.png); */
    background-color: #000E08;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}
.ddosbanflex{
    display: flex;
}
.hardenimg img{
    margin-left: 45px;
    width: 715px;
    margin-top: -7%;
}
/* .hardeningim2 img{
    width: 2111px;
    margin-top: -39%;
} */
.hardeningim2 img{
    width:100%;
    margin-top: -39%;
}
.ddosSection1{
    padding-top: 4%;
    padding-left: 5%;
    width: 50%;
}
/* .ddosTitle{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.1%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    width: 58%;
} */
.ddosTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.1%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    width: 64%;
}
.ddosDesc{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170.1%;
    color: #CBCBCB;
    width: 42%;
    margin-top: 3%;
    margin-bottom: 3%;
}
#dembtn {
    width: 93px;
    height: 33px;
    left: 795px;
    top: 546px;
    background: #00CD78;
    border-radius: 8px;
    margin-left: 1%;
    margin-bottom: 14%;
}
.demobtn1{
    width: 118px;
    height: 39px;
    top: 512px;
    background: #00CD78;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #020906;
    border: none;
}
.netwrokArchitecture{
    padding-top: 35%;
}

.netArch{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 66px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: -26%;
    margin-left: -2%;
    margin-bottom: 13%;
}
.section2Content{
    height: 108px;
    top: 933px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 170.1%;
    text-align: center;
    color: #CBCBCB;
    margin-left: 26%;
    margin-top: 8%;
    width: 48%;
}
.attackVectorAnalysis{
    background-color: #000E08;
    height: auto;
    margin-top: -2%;
}
#attackVector {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #00CD78;
    margin-left: -45%;
    padding-top: 4%;
}
/* #attackVectorPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170.1%;
    color: #CBCBCB;
    width: 15%;
    margin-left: 340px;
} */
#attackVectorPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 170.1%;
    color: #CBCBCB;
    width: 15%;
    margin-left: 289px;

}
.section2Img {
    margin-top: -89px;
    margin-left: 17%;
    width: 1154px;
}
.bgimg{
    margin-left: 7%;
}
.section4Flex {
    display: flex;
    background-color: #000E08;
    margin-top: 6%;
    padding-left: 17%;
    width: 82%;
    padding-bottom: 7%;
}
#config{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120.1%;
    width: 30%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}
#configPara{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 203.1%;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.8;
    width: 52%;
    margin-top: 3%;
}
#vendorSelec{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120.1%;
    letter-spacing: -0.01em;
    width: 24%;
    color: #FFFFFF;
    opacity: 0.8;
}
.vendorSelction{
    margin-left: -24%;
}
.configOptimiz{
    margin-left: -3%;
}
#vendorSelecPara{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 203.1%;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 3%;
opacity: 0.8;
    width: 66%;
}
#demo3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170.1%;
    color: #00CD78;
    padding-top: 2%;
}
/* #demo2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170.1%;
    padding-top: 8%;
    color: #00CD78;
} */
#demo2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 170.1%;
    color: #00CD78;
    padding-top: 13%;
}


/* JSON CSS */

/* 
.ddosBanner{
    background-image: url(../../images/ddos/Bgimg1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}

.ddosSection1{
    padding-top: 4%;
    padding-left: 5%;
    width: 50%;
}
.ddosTitle {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120.1%;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    width: 72%;
}
.ddosDesc{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 170.1%;
color: #CBCBCB;
width: 58%;
}
#dembtn {
    width: 93px;
    height: 33px;
    left: 795px;
    top: 546px;
    background: #00CD78;
    border-radius: 8px;
    margin-left: 1%;
    margin-bottom: 14%;
}
.demobtn1{
    width: 118px;
    height: 39px;
    top: 512px;
    background: #00CD78;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #020906;
    border: none;
}
.netwrokArchitecture{
    padding-top: 35%;
}

.netArch{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 59px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: -23.5%;
}
.section2Content{
    
    height: 108px;
    top: 933px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.1%;
    text-align: center;
    color: #CBCBCB;
    margin-left: 32%;
    margin-top: 8%;
    width: 719px
}
.attackVectorAnalysis{
    background-color: #000E08;
    height: auto;
    margin-top: -2%;
}
#attackVector {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #00CD78;
    margin-left: -58%;
    padding-top: 4%;
}
#attackVectorPara {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.1%;
    color: #CBCBCB;
    width: 15%;
    margin-left: 10.5%;
}
.section2Img {
    margin-left: 10.5%;
    width: 72%;
    margin-top: -67px;
}
.bgimg{
    margin-left: 7%;
}
.section4Flex {
    display: flex;
    background-color: #000E08;
    margin-top: 6%;
    margin-left: 17%;

}
#config{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120.1%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    width: 25%;
}
#configPara{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 203.1%;
    text-align: justify;
    color: #9BA4A2;
    opacity: 0.6;
    width: 54.5%;

}
.configOptimiz{
    margin-right: 0%;
    width: 50%;
}
#vendorSelec{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 120.1%;
    letter-spacing: -0.01em;
    width: 24%;
    color: #FFFFFF;
    opacity: 0.8;
}
.vendorSelction{
    margin-left: -24%;
}
#vendorSelecPara{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 203.1%;
    text-align: justify;
    color: #9BA4A2;
    opacity: 0.6;
    width: 51%;
}
#demo1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 170.1%;
    color: #00CD78;
}
#demo2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 170.1%;
    padding-top: 7%;
    color: #00CD78;
} */
