@media screen and (max-width:1705px) and (min-width:1445px) {

    body {
        padding: 0%;
        margin: 0%;
    }
    .ddosdemo {
        margin-left: 35%;
    }
    .hardenimg img {
        margin-left: 60px !important;
        width: 564px;
        margin-top: -8%;
    }
    #banimg{
        width: 78%;
    }
    .ddosDesc {
        width: 90%;
    font-size: 22px;
    }
    .ddosSection1 {
        margin-bottom: 26%;
    }
    /* .hardeningim2 img {
        width: 1498px;
        margin-top: -38%;
    } */
    .hardeningim2 img {
        width: 100%;
        margin-top: -38%;
    }
    .netwrokArchitecture {
        padding-top: 18%;
    }
    .ddosBanner{
        /* background-image: url(../../images/ddos/Bgimg1.png); */
        background-size: 100% 100%;
    }
    .ddosTitle {
        font-size: 65px;
        width: 626px;
    }
    .netArch {
        font-size: 59px;
    margin-top: -25%;
    margin-bottom: 10%;
    }
    .section2Content {
        font-size: 18px;
        width: 51%;
        margin-left: 25%;
        text-align: center;
    }
    #attackVector {
        font-size: 37px;
        margin-left: -736px;
    }
    #attackVectorPara {
        width: 20%;
        margin-left: 141px;
        font-size: 16px;
        margin-top: 2%;
    }
    .section2Img {
        margin-left: 11%;
        width: 72%;
        margin-top: -67px;
    }
    .attackVectorAnalysis {
        height: auto;
    }
    #configPara {
        width: 73%;
    font-size: 18px;
    }
    .vendorSelction {
        margin-left: -1%;
    }
    #vendorSelecPara {
        width: 98%;
        font-size: 18px;
    }
    .section4Flex {
        width: 78%;
    padding-left: 12%;
    }
    #demo2 {
        padding-top: 17%;
    }
}

@media screen and (max-width:1440px) and (min-width:1025px) {
    .hardeningim2 img {
        margin-top: -39%;
        width: 100%;
    }
    .section2Img {
        margin-top: -89px;
        margin-left: 13.5%;
        width: 972px;
    }
    .hardenimg img {
        margin-left: 50px !important;
    width: 546px;
    margin-top: -8%;
    }
    .ddosBanner {
        margin-top: -1%;
    }
    #attackVector {
        margin-left: -596px;
    }
    #demo2 {
        padding-top: 18%;
    }
    .netArch {
        font-size: 59px;
        margin-top: -28%;
        margin-bottom: 13%;
    }
    #attackVectorPara {
        width: 21%;
        margin-left: 177px;
    }
}


/* JSON CSS */
/* @media screen and (max-width:1440px) and (min-width:1025px) {

    body {
        padding: 0%;
        margin: 0%;
    }
    #banimg{
        width: 78%;
    }
    .ddosDesc {
        width: 76%;
    }
    .ddosSection1 {
        margin-bottom: 26%;
    }
    .netwrokArchitecture {
        padding-top: 18%;
    }
    .ddosBanner{
        background-image: url(../../images/ddos/Bgimg1.png);
        background-size: 100% 100%;
    }
    .ddosTitle {
        width: 94%;
        font-size: 64px;
    }
    .netArch {
        font-size: 59px;
        margin-top: -29%;
    }
    .section2Content {
        font-size: 16px;
        width: 50%;
        margin-left: 26%;
        text-align: center;
    }
    #attackVector {
        margin-left: -746px;
        font-size: 37px;
    }
    #attackVectorPara {
        width: 20%;
        margin-left: 65px;
        font-size: 16px;
    }
    .section2Img {
        margin-left: 5%;
        width: 80%;
        margin-top: -67px;
    }
    .attackVectorAnalysis {
        height: auto;
    }
    #configPara {
        width: 69%;
        font-size: 16px;
    }
    .vendorSelction {
        margin-left: -1%;
    }
    #vendorSelecPara {
        width: 92%;
        font-size: 16px;
    }
    .section4Flex {
        margin-left: 12%;
        margin-bottom: -40px;

    }
    #demo2 {
        padding-top: 14%;
    }
} */
