@media screen and (max-width:1440px) and (min-width:1025px) {

    body {
        padding: 0%;
        margin: 0%;
    }
    #banimg{
        width: 78%;
    }
    .ddosBanner{
        background-image: url(../../images/ddos/Bgimg1.png);
        background-size: 100% 100%;
    }
    .ddosTitle {
        width: 93%;
        font-size: 64px;
    }
    .netArch {
        font-size: 59px;
    }
    .section2Content {
        font-size: 16px;
        width: 49%;
        margin-left: 27%;
        text-align: center;
    }
    #attackVector {
        margin-left: -47%;
        font-size: 37px;
    }
    #attackVectorPara {
        width: 20%;
        margin-left: 14%;
        font-size: 16px;
    }
    .section2Img {
        margin-left: 14%;
        width: 72%;
    }
    .attackVectorAnalysis {
        height: 188vh;
    }
    #configPara {
        width: 70%;
        font-size: 16px;
    }
    #vendorSelecPara {
        width: 92%;
        font-size: 16px;
    }
    .section4Flex {
        width: 88%;
        padding-left: 13%;
    }
    #demo2 {
        padding-top: 14%;
    }
}
