@media screen and (max-width:425px) and (min-width:376px) {
    .ddosSection1{
        /* background-image: url(../../images/ddos/ddosHardMobile.png); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0%;
        padding: 0%;
        height: auto;
        width: 100%;
        padding-left: 6%;
        padding-top: 13%;
    }
    .ddosbanflex {
        margin-top: -1%;
    }
    .hardenimg img {
        margin-left: 13px;
        width: 86%;
    }
    .hardeningim2 img {
        width: 425px;
    margin-top: -63%;
    margin-bottom: 32%;
    }
    .netwrokArchitecture{
        /* background-image: url(../../images/ddos/ddosHardMobile2.png); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0%;
        padding: 0%;
        height: 366px;
        margin-top: 7%;
    }
    .ddosBanner{
        background-image: none;
    }
    .ddosTitle {
        font-size: 20px;
        width: 189px;
        padding-bottom: 6%;
        margin-top: -10%;
    }
    .ddosDesc {
        font-size: 12px;
        width: 89%;
    }
    #dembtn {
        font-size: 12px;
    }
    .demobtn1 {
        width: 86px;
        height: 25px;
        margin-top: 2px;
    }
    .netArch {
        font-size: 19px;
    padding-top: 33%;
    margin-bottom: -20%;
    }
    .section2Content {
    font-size: 12px;
    margin-left: 14%;
    width: 70%;
    padding-top: 27%;
    }
    .attackVectorAnalysis {
        height: auto;
        margin-top: -5%;
    }
    #attackVector {
        font-size: 17px;
        margin-left: -58%;
        padding-top: 3%;
    }
    .section2Img {
        margin-top: -12px;
    margin-left: -2%;
    width: 95%;
    }
    #attackVectorPara {
        font-size: 10px;
        width: 46%;
        margin-left: -1%;
    }

    #config {
        font-size: 16px;
        width: 52%;
    }
    #vendorSelec {
        font-size: 16px;
        opacity: 1.8;
        width: 40%;
        margin-top: 3%;
     }
     .section4Flex {
        display: block;
        padding-left: 5%;
        width: 95%;
        margin-bottom: 12%;
    }
    .configOptimiz {
        margin-left: 0%;
    }
    .vendorSelction {
        margin-left: -1%;
    }
    #demo3 {
        font-size: 14px;
    }
    #demo2 {
        font-size: 14px;
        padding-top: 0%;
    }
    #configPara {
        font-size: 13px;
        width: 96%;
    }
    #vendorSelecPara {
        font-size: 13px;
        width: 94%;
    }
    
}

/* JSON */
/* @media screen and (max-width:425px) and (min-width:376px) {
    .ddosSection1{
        background-image: url(../../images/ddos/ddosHardMobile.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0%;
        padding: 0%;
        height: 90vh;
        width: 100%;
        padding-left: 8%;
        padding-top: 13%;
    }
    .netwrokArchitecture{
        background-image: url(../../images/ddos/ddosHardMobile2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin: 0%;
        padding: 0%;
        height: 366px;
        margin-top: 22%;
    }
    .ddosBanner{
        background-image: none;
    }
    .ddosTitle {
        font-size: 24px;
        width: 58%;
        padding-bottom: 6%;
    }
    .ddosDesc {
        font-size: 16px;
        width: 85%;
    }
    #dembtn {
        font-size: 12px;
    }
    .demobtn1 {
        width: 86px;
        height: 25px;
        margin-top: 5%;
    }
    .netArch {
        font-size: 19px;
        padding-top: 28%;
        margin-bottom: -20%;
    }
    .section2Content {
    font-size: 10px;
    margin-left: 16%;
    width: 70%;
    padding-top: 29%;
    }
    .attackVectorAnalysis {
        height: auto;
        margin-top: -5%;
    }
    #attackVector {
        font-size: 17px;
        margin-left: -43%;
        padding-top: 18%;
    }
    .section2Img {
        margin-top: -23px;
    margin-left: 6%;
    width: 80%;
    }
    #attackVectorPara {
        font-size: 10px;
        width: 46%;
        margin-left: 7%;
    }

    #config {
        font-size: 16px;
        width: 52%;
    }
    #vendorSelec {
        font-size: 16px;
     }
     .section4Flex {
        display: block;
        margin-left: 10%;
        margin-bottom: -76px;
    }
    .vendorSelction {
        margin-left: -1%;
    }
    #configPara {
        font-size: 14px;
        width: 342PX;
        white-space: initial;
    }
    #vendorSelecPara {
        font-size: 14px;
        width: 94%;
    }
    #demo2 {
        padding-top: 0%;
        font-size: 12px;
    }

} */