@media screen and (max-width:775px) and (min-width:426px) 
{
    .ddosTitle {
        font-size: 32px;
        width: 89%;
    }
    .bgimg{
        margin-top: -3%;
    }
    .ddosDesc {
        font-size: 14px;
        width: 98%;
    }
    .demobtn1 {
        width: 102px;
        height: 34px;
    }
    .netArch {
        font-size: 29px;
        margin-top: -226px;
    }
    .section2Content {
        font-size: 11px;
        margin-left: 128px;
        width: 64%;
    }
    .section2Img {
        width: 76%;
        margin-top: -57px;
        margin-left: 11%;
    }
    #attackVector {
        font-size: 20px;
        margin-left: -50%;
    }
    #attackVectorPara {
        font-size: 12px;
        width: 26%;
        margin-left: 11%;
    }
    .section4Flex {
        margin-left: -10%;
        width: 100%;
    }
    #configPara {
        width: 75%;
    }
    #vendorSelecPara {
        width: 108%;
    }
    #demo2 {
        padding-top: 32%;
    }
    .attackVectorAnalysis {
        height: auto;
    }
    .netwrokArchitecture {
        padding-top: 44%;
    }
    .vendorSelction{
        margin-left: -11%;
    }
}

/* JSON CSS */
/* @media screen and (max-width:775px) and (min-width:426px) 
{
    .ddosTitle {
        font-size: 32px;
        width: 88%;
    }
    .bgimg{
        margin-top: -3%;
    }
    .ddosDesc {
        font-size: 14px;
        width: 98%;
    }
    .demobtn1 {
        width: 102px;
        height: 34px;
    }
    .netArch {
        font-size: 29px;
        margin-top: -226px;
    }
    .section2Content {
        font-size: 11px;
        margin-left: 128px;
        width: 64%;
    }
    .section2Img {
        width: 76%;
        margin-top: -57px;
        margin-left: 11%;
    }
    #attackVector {
        font-size: 20px;
        margin-left: -50%;
    }
    #attackVectorPara {
        font-size: 12px;
        width: 26%;
        margin-left: 11%;
    }
    .section4Flex {
        margin-left: 7%;
        margin-bottom: -44px;
    }
    #configPara {
        width: 85%;
    }
    #vendorSelecPara {
        width: 108%;
    }
    #demo2 {
        padding-top: 32%;
    }
    .attackVectorAnalysis {
        height: auto;
    }
    .netwrokArchitecture {
        padding-top: 44%;
    }
    .vendorSelction{
        margin-left: -11%;
    }
} */