/* @media screen and (max-width:1440px) and (min-width:1025px) {
    .cyberTitle1 {
        font-size: 66.7113px;
        padding-top: 9%;
    }
    .cyberTitleFlex {
        padding-bottom: 4%;
    }
    .cardImg {
        width: 40%;
    }
    .cyberCards {
        margin-left: 18%;
    }
    #arrow {
        margin-left: -37%;
        width: 100%;
        font-size: 19px;
    }
    #tick {
        font-size: 19px;
        margin-left: 37%;
        width: 110%;
    }
    .Tick img {
        margin-left: 70%;
    }
    .Hexagon img {
        margin-left: 209px;
    }
    #hexagon {
        font-size: 19px;
        margin-left: 49%;
        width: 81%;
    }
    .strategicCard1Title 
    {
        width: 47%;
        font-size: 26px;
    }
    .card1Para {
        width: 85%;
        font-size: 14px;
    }
    .ThreatActorTitle {
        font-size: 26px;
    }
    .card2Para {
        width: 84%;
        font-size: 14px;
    }
    .threatCard3Title {
        width: 48%;
        font-size: 26px;
    }
    .card3Para {
        width: 86%;
        font-size: 14px;
    }
    #demo1 {
        font-size: 12px;
    }
    .cyberBanner2Par {
        width: 62%;
        margin-left: 18%;
        font-size: 16px;
        margin-top: -1%;

    }
    .threatCard3 {
        margin-bottom: -1%;
    }
    .strategicPara {
        margin-top: 8%;
    }
    .threatPara {
        margin-top: 8%;
    }
    .threatcar3Para {
        margin-top: 8%;
    }
} */

/* JSON CSS */
@media screen and (max-width:1440px) and (min-width:1025px) {
    .cyberTitle1 {
        font-size: 66.7113px;
        padding-top: 9%;
    }
    .cyberTitleFlex {
        padding-bottom: 4%;
    }
    .cardImg {
        width: 40%;
    }
    .cyberCards {
        margin-left: 18%;
    }
    #arrow {
        margin-left: -28%;
        width: 100%;
        font-size: 19px;
    }
    #tick {
        font-size: 19px;
        margin-left: 37%;
        width: 110%;
    }
    .Tick img {
        margin-left: 70%;
    }
    .Hexagon img {
        margin-left: 209px;
    }
    #hexagon {
        font-size: 19px;
        margin-left: 49%;
        width: 81%;
    }
    .strategicCard1Title 
    {
        width: 47%;
        font-size: 26px;
    }
    .card1Para {
        width: 86%;
        font-size: 14px;
    }
    .ThreatActorTitle {
        font-size: 26px;
    }
    .card2Para {
        width: 84%;
        font-size: 14px;
    }
    .threatCard3Title {
        width: 48%;
        font-size: 26px;
    }
    .card3Para {
        width: 86%;
        font-size: 14px;
    }
    #demo1 {
        font-size: 12px;
    }
    .cyberBanner2Par {
        width: 62%;
        margin-left: 18%;
        font-size: 16px;
        margin-top: -1%;

    }
    .threatCard3 {
        margin-bottom: -1%;
    }
    .strategicPara {
        margin-top: 8%;
    }
    .threatPara {
        margin-top: 8%;
    }
    .threatcar3Para {
        margin-top: 8%;
    }
}