.algoculture {
    padding: 3% 3%;
    background-color: #000E08;
}


#algocultureText {
    font-family: Manrope;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFFFFF;
}

#coloraboutText {
    color: #00CD78;
}

.algoaboutCarousel {
    width: 100%;
    margin: 3% 0 0 2%;
    display:block;
}
.algoaboutcarouselRes{
    display: none;
}
.carouselImg1,.carouselImg2,.carouselImg3,.carouselImg4,.carouselImg5{
    margin: 0 0 0 5%;
    height: 325px;
    width: 25%;
}
.carouselImg1 {
    background-image: url('../../../images/aboutus/aboutus10.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carouselImg2 {
    background-image: url('../../../images/aboutus/aboutus11.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carouselImg3 {
    background-image: url('../../../images/aboutus/aboutus12.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carouselImg4 {
    background-image: url('../../../images/aboutus/aboutus13.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carouselImg5 {
    background-image: url('../../../images/aboutus/aboutus14.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.carouselImg1:hover {
    background-image: url('../../../images/aboutus/aboutus27.png');
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;
}

.carouselImg2:hover {
    background-image: url('../../../images/aboutus/aboutus26.png');
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;
}

.carouselImg3:hover {
    background-image: url('../../../images/aboutus/aboutus23.png');
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;
}

.carouselImg4:hover {
    background-image: url('../../../images/aboutus/aboutus24.png');
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;
}

.carouselImg5:hover {
    background-image: url('../../../images/aboutus/aboutus25.png');
    background-size: 100% 100%;
    width: 25%;
    background-repeat: no-repeat;
}
#cultureText{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #B3B3B3;
    width: 60%;
    margin: 8% 0 0 20%;
}
#ourteamText{
    font-family: Manrope;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.04em;
    text-align: center;
    color: #FFFFFF;
    margin: 3% 0 0 0;
}
.ourteamProfile{
    padding: 5% 10% 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 11%;
    grid-column-gap: 2%;
}

.profile1{
background-image: url('../../../images/aboutus/aboutus15.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile2{
background-image: url('../../../images/aboutus/aboutus16.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile3{
background-image: url('../../../images/aboutus/aboutus17.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile4{
background-image: url('../../../images/aboutus/aboutus18.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile1:hover{
background-image: url('../../../images/aboutus/aboutus19.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile2:hover{
background-image: url('../../../images/aboutus/aboutus20.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile3:hover{
background-image: url('../../../images/aboutus/aboutus21.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
.profile4:hover{
background-image: url('../../../images/aboutus/aboutus22.png');
background-repeat: no-repeat;
width: 100%;
height: 140px;
background-position: center;
}
#nameText{
    font-family: Manrope;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: -0.04em;
    text-align: center;
    color:#FFFFFF;
    margin: 5% 0 0 0;    
}
#nameText:hover{
color: #00CD78;
}
#speccialist{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #B3B3B3;    
}
.carousel-indicators {
    margin-bottom: -5em !important;
    margin-left:12rem !important;
}
@media screen and (max-width:1705px) and (min-width:1024px) {
    .ourteamProfile{
        margin: 0 0 5% 0;
    }
    #cultureText{
        margin: 8% 0 0 20%;
    }
    .carousel-indicators {
        margin-bottom: -5em !important;
        margin-left:10rem !important;
    }
}
@media screen and (max-width:1024px) and (min-width:768px) {
    #cultureText{
        font-size: 14px;
        line-height: 28px;
        width: 95%;
        margin: 12% 0 0 3%;
    }
    .carouselImg1,.carouselImg2,.carouselImg3,.carouselImg4,.carouselImg5{
        height:200px;
    }
    .carouselImg1:hover,.carouselImg2:hover,.carouselImg3:hover,.carouselImg4:hover,.carouselImg5:hover{
        height:200px;
    }
    .ourteamProfile{
    padding: 5% 5% 0;
    }
    .carousel-indicators {
        margin-bottom: -5em !important;
        margin-left:8rem !important;
    }
}
@media screen and (max-width:768px) and (min-width:430px){
    .carousel-indicators {
        margin-bottom: -5em !important;
        margin-left:5rem !important;
    }
}
@media screen and (max-width:430px) and (min-width:375px) {
    .algoaboutCarousel{
        display: none;
    }
    .algoaboutcarouselRes{
        display: block;
        padding: 3% 3%;
        margin: 3% 0 0 2%;
        background-color: #000E08;
    }
    #algocultureText{
    font-size: 28px;
    }
    #cultureText{
    font-family: Manrope;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    line-height: 28px;
    margin: 15% 0 0 5%;
    width: 90%;
    }
    .carouselImg1,.carouselImg2,.carouselImg3,.carouselImg4,.carouselImg5{
        height:400px;
        width: 90%;
    }
    .carouselImg1:hover,.carouselImg2:hover,.carouselImg3:hover,.carouselImg4:hover,.carouselImg5:hover{
        height:400px;
        width: 90%;
    }
    .ourteamProfile{
        padding: 5% 10% 0;
        display: block;
    }  
    #ourteamText{
        font-size: 28px;
    }
    .carousel-indicators  {
        margin-bottom: -5em !important;
        margin-left:4rem !important;
    }
}
@media screen and (max-width:375px) {
    .carousel-indicators  {
        margin-bottom: -5em !important;
        margin-left:3rem !important;
    }
}