.popup {
    position: fixed;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup-inner{
   position: relative;
   padding: 2% 2%;
   background-color:#000E08;
   height: 465px;
   width: 475px;
   border-radius: 13px;
   border:1px solid #2CD58B;
   height: 70%;

}

.popup-inner .close-btn{
   position: absolute;
   top: 16px;
   right: 16px;
   opacity: .5;

}

.popup-inner input{
   width: 95%;
   margin: 0 0 5% 0;
   height: 45px;
   background-color: transparent;
   padding: 1% 2%;
   margin: 2% 0 0 0;

}
input[type=text]:focus {
   border: 2px solid #2CD58B;
 }
.Fbutton{
   margin-top: 6%;
   float: right;
   width: 26%;
   height: 30px;
   border-radius: 8px;
   background-color: #2CD58B;
}
@media screen and (max-width:1024px) and (min-width:768px) {
   .popup-inner{
      position: relative;
      padding: 32px;
      width: 50%;
      border-radius:15px;
      height: 70%;
   
   }
}
@media screen and (max-width:768px) and (min-width:445px) {
   .popup-inner{
      position: relative;
      padding: 32px;
      width: 60%;
      border-radius:15px;
      margin: 0 0 0 -7%;
      height: 70%;
   
   }
}
@media screen and (max-width:445px) and (min-width:375px) {
   .popup-inner{
      position: relative;
      padding: 32px;
      width: 80%;
      border-radius:15px;
      margin: 0 0 0 -8%;
      height: 70%;

   }
   .popup-inner input{
      width: 95%;
      margin: 0 0 5% 0;
      height: 45px;
      background-color: transparent;
      padding: 1% 2%;
   
   }
}
@media screen and (max-width:375px) {
  
   .popup-inner{
      position: relative;
      padding: 32px;
      width: 80%;
      border-radius:15px;
      margin: 0 0 0 0%;
      height: 70%;
   }
}
@media screen and (max-width:360px) {
   .popup-inner{
      position: relative;
      padding: 32px;
      width: 90%;
      border-radius:15px;
      margin: 0 0 0 0%;
      height: 70%;

   }
}
@media screen and (max-width:280px) {
   .popup-inner{
      position: relative;
      padding: 20px;
      width: 65%;
      height: 365px;
      border-radius:15px;
      margin: 0 0 0 -28%;
      height: 70%;

   }
}