
@media screen and (max-width:425px) and (min-width:376px) {

    .ddosattack_section1 {
        background-image: url('../../images/ddosattack/mobBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 30% 0 6% 0%;
        margin: 0%;
        height: auto;
    }
    .ddossession img {
        width: 261px;
        margin-bottom: -51%;
        display: none;
    }
    .ddosattack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #F5F5F5;
        margin-top: -14%;
    }
    
    .ddoscolorText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .ddosattackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 170.1%;
        text-align: center;
        color: #FCFCFC;
        opacity: 0.86;
        padding-top: 3%;
    }
    .ddosdemo{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        text-align: center;
        width: 100%;
        margin-left: 0%;
        margin-top: -15%;
    }
    .ddosattackdemoBtn {
        background-image: url('../../images/ddosattack/demoBg.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -42px;
        height: 250px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        text-align: center;
        padding-top: 17%;
    }
    
    .ddosattack_section2 {
        background-color: #000E08;
    }
    
    .ddosattack_cardlist {
        display: block;
        margin-left: -5%;
        margin-top: -2%;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    
    .ddosattack_card {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15% 1% 5% 10%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        height: 280px;
        width: 94%;
        margin-right: 0%;
    }
    
    .ddosattack_card:hover {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15% 1% 5% 10%;
        height: 280px;
        width: 94%;
    }
    .ddosattack_CardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #A8A8A8;
        width: 65%;
    }
    
    .ddosattack_CardTitle:hover {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #00CD78;
        width: 55%;
    }
    
    .ddosattack_CardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        color: #A8A8A8;
        width: 98%;
    }
    
    .ddosattack_section3 {
        background-image: url('../../images/ddosattack/structuredBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 5% 0 6% 0%;
        margin: 0%;
    }
    
    .ddos_structure {
        padding: 5% 0 10%;
    }
    
    .structure_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #00CD78
    }
    
    .structure_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
        width: 80%;
        margin-left: 10%;
    }
    
    .structureList {
        display: block;
        margin-left: 3%;
        margin-top: 15%;
    }
    
    .structureBlock {
        display: flex;
        width: 95%;
        margin-left: 2%;
        padding-bottom: 5%;
    }
    
    .blocksIcon {
        width: 44px;
        height: 44px;
        margin-left: 0%;
    }
    
    .blocksPara {
        margin-top: 3%;
        margin-left: 10%;
    }
    
    .block_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        text-align: left;
    }
    
    .imageFlex {
        display: flex;
        margin-top: 15%;
    }
    
    .dotLine {
        
        display: none;
    }
    
    .blockList li {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: left;
        color: #f;
        list-style-position: inside;
        margin-left: -5%
    }
    .blockList li br{
        display: none;
    }
    .ddosplatform {
        margin-top: 15%;
    }
    
    .ddosplatform_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #00CD78;
        text-align: center;
    }
    
    .ddosplatform_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        width: 80%;
        margin-left: 10%;
    }
    
    .Actionable {
        background-color: #00CD78;
        padding: 5%;
    }
    
    .Actionable_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000E08;
    }
    
    .Actionable_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: center;
        color: #000E08;
        width: 95%;
        margin-left: 2%;
    }
    
    .ddostesting{
        background-color: #000E08;
        padding: 5%;
    }
    .ddostesting_list{
        display: block;
    }
    
    .ddostesting_left{
        width: 100%;
    }
    .ddostesting_awsTitle{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 90%;
    }
    
    .ddostesting_aswDesc{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 203.1%;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.6;
    width: 99%;
    }
    
    .ddostesting_right{
        margin-left: 1%;
    }
    .ddostesting_right1{
        margin-left: 1%;
    }
    
    .ddostesting_box{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #00CD78;
    width: 45%;
    border-radius: 14px;
    padding: 0.5% 0 0.5% 3%;
    }
    
    .ddostesting_expl{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 203.1%;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.6;
    width: 98%;
    }
    
    .testhrline{
        width: 100%;
        padding: 5% 0;
    }
    .ddosattack_section4{
        background-color: #000E08;
        margin-top: -15%;
    }
    }


    
@media screen and (max-width: 375px) and (min-width:281px) {

    .ddosattack_section1 {
        background-image: url('../../images/ddosattack/mobBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 30% 0 6% 0%;
        margin: 0%;
        height: auto;
    }
    .ddossession img {
        display: none;
    }
    .ddosattack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #F5F5F5;
        margin-top: -16%;
    }
    
    .ddoscolorText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .ddosattackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 170.1%;
        text-align: center;
        color: #FCFCFC;
        opacity: 0.86;
        padding-top: 3%;
    }
    .ddosdemo{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        text-align: center;
        width: 100%;
        margin-left: 0%;
        margin-top: -8%;
    }
    .ddosattackdemoBtn {
        background-image: url('../../images/ddosattack/demoBg.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -52px;
        height: 250px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        text-align: center;
        padding-top: 17%;
    }
    
    .ddosattack_section2 {
        background-color: #000E08;
    }
    .ddosattack_cardlist {
        display: block;
        margin-left: -5%;
        margin-top: -2%;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    
    .ddosattack_card {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15% 1% 5% 10%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        height: 250px;
        width: 94%;
        margin-right: 0%;
    }
    
    .ddosattack_card:hover {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15% 1% 5% 10%;
        height: 250px;
        width: 94%;
    }
    .ddosattack_CardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #A8A8A8;
        width: 85%;
    }
    
    .ddosattack_CardTitle:hover {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #00CD78;
        width: 65%;
    }
   
    .ddosattack_CardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        color: #A8A8A8;
        width: 95%;
    }
    
    .ddosattack_section3 {
        background-image: url('../../images/ddosattack/structuredBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 5% 0 6% 0%;
        margin: 0%;
    }
    
    .ddos_structure {
        padding: 5% 0 10%;
    }
    
    .structure_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #00CD78
    }
    
    .structure_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #999999;
        width: 80%;
        margin-left: 10%;
    }
    
    .structureList {
        display: block;
        margin-left: 3%;
        margin-top: 0%;
    }
    
    .structureBlock {
        display: flex;
        width: 95%;
        margin-left: 0%;
        padding-bottom: 5%;
    }
    
    .blocksIcon {
        width: 44px;
        height: 44px;
        margin-left: 0%;
    }
    
    .blocksPara {
        margin-top: 3%;
        margin-left: 5%;
    }
    
    .block_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        text-align: left;
    }
    
    .imageFlex {
        display: flex;
        margin-top: 15%;
    }
    
    .dotLine {
        
        display: none;
    }
    
    .blockList li {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: left;
        color: #868686;
        list-style-position: inside;
        margin-left: -8%
    }
    .blockList li br{
        display: none;
    }
    .ddosplatform {
        margin-top: 15%;
    }
    
    .ddosplatform_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #00CD78;
        text-align: center;
    }
    
    .ddosplatform_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        width: 80%;
        margin-left: 10%;
    }
    
    .Actionable {
        background-color: #00CD78;
        padding: 5%;
    }
    
    .Actionable_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000E08;
    }
    
    .Actionable_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: center;
        color: #000E08;
        width: 95%;
        margin-left: 2%;
    }
    
    .ddostesting{
        background-color: #000E08;
        padding: 5%;
    }
    .ddostesting_list{
        display: block;
    }
    
    .ddostesting_left{
        width: 100%;
    }
    .ddostesting_awsTitle{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 90%;
    }
    
    .ddostesting_aswDesc{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 203.1%;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.6;
    width: 100%;
    }
    
    .ddostesting_right{
        margin-left: 1%;
    }
    .ddostesting_right1{
        margin-left: 1%;
    }
    
    .ddostesting_box{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #00CD78;
    width: 45%;
    border-radius: 14px;
    padding: 0.5% 0 0.5% 3%;
    }
    
    .ddostesting_expl{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 203.1%;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.6;
    width: 98%;
    }
    
    .testhrline{
        width: 100%;
        padding: 5% 0;
    }
    .ddosattack_section4{
        background-color: #000E08;
        margin-top: -15%;
    }
    }


    /* @media screen and (max-width: 345px) and(min-width:281px) {

        .ddosattack_Title {
            font-size: 22px !important;
        }
        
        .ddoscolorText {
            font-size: 22px !important;            
        }
        
        .ddosattackDesc {
            font-size: 12px !important;
        }
       
        .ddosattack_CardTitle, .ddosattack_CardTitle:hover {
            width: 45%;
        }

        .ddosattack_CardDesc {
            font-size: 13px !important;   
        }

        .structure_title {
            font-size: 16px;
        }

        .structure_desc {
            font-size: 12px;
        }

        .ddostesting_box{
            width: 51%;
        }
        
        .ddosattack_section4{
            padding-top: 10%;
        }
    }
 */

    @media screen and (max-width: 280px) {

        .ddosattack_section1 {
            background-image: url('../../images/ddosattack/mobBg.png');
            background-size: 100% 110%;
            background-repeat: no-repeat;
            padding: 30% 0 6% 0%;
            margin: 0%;
            height: 100vh;
        }
        
        .ddosattack_Title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #F5F5F5;
        }
        
        .ddoscolorText {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        
        .ddosattackDesc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: center;
            color: #FCFCFC;
            opacity: 0.86;
            padding-top: 3%;
        }
        .ddosdemo{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 120.1%;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            text-align: center;
            width: 100%;
            margin-left: 0%;
        }
        .ddosattackdemoBtn {
            background-image: url('../../images/ddosattack/demoBg.png');
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: -50px;
            height: 250px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 120.1%;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            text-align: center;
            padding-top: 23%;
        }
        
        .ddosattack_section2 {
            background-color: #000E08;
        }
        .ddosattack_cardlist {
            display: block;
            margin-left: -5%;
            margin-top: -2%;
            padding-bottom: 5%;
            padding-top: 10%;
        }
        
        .ddosattack_card {
            background-image: url('../../images/ddosattack/ddosattackcard.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 15% 1% 5% 10%;
            margin-bottom: 5%;
            padding-bottom: 5%;
            height: 250px;
            width: 100%;
            margin-right: 0%;
        }
        
        .ddosattack_card:hover {
            background-image: url('../../images/ddosattack/ddosattackcard.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 15% 1% 5% 10%;
            height: 250px;
            width: 100%;
        }
        .ddosattack_CardTitle {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #A8A8A8;
            width: 65%;
        }
        
        .ddosattack_CardTitle:hover {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #00CD78;
            width: 65%;
        }
       
        .ddosattack_CardDesc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 203.1%;
            color: #A8A8A8;
            width: 95%;
        }
        
        .ddosattack_section3 {
            background-image: url('../../images/ddosattack/structuredBg.png');
            background-size: 100% 110%;
            background-repeat: no-repeat;
            padding: 5% 0 6% 0%;
            margin: 0%;
        }
        
        .ddos_structure {
            padding: 5% 0 10%;
        }
        
        .structure_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #00CD78
        }
        
        .structure_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 170.1%;
            text-align: center;
            color: #999999;
            width: 80%;
            margin-left: 10%;
        }
        
        .structureList {
            display: block;
            margin-left: 3%;
            margin-top: 0%;
        }
        
        .structureBlock {
            display: flex;
            width: 95%;
            margin-left: 0%;
            padding-bottom: 5%;
        }
        
        .blocksIcon {
            width: 44px;
            height: 44px;
            margin-left: 0%;
        }
        
        .blocksPara {
            margin-top: 3%;
            margin-left: 5%;
        }
        
        .block_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            text-align: left;
        }
        
        .imageFlex {
            display: flex;
            margin-top: 15%;
        }
        
        .dotLine {
            
            display: none;
        }
        
        .blockList li {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: left;
            color: #868686;
            list-style-position: inside;
            margin-left: -8%
        }
        .blockList li br{
            display: none;
        }
        .ddosplatform {
            margin-top: 15%;
        }
        
        .ddosplatform_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: #00CD78;
            text-align: center;
        }
        
        .ddosplatform_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 170.1%;
            text-align: center;
            color: #FFFFFF;
            width: 80%;
            margin-left: 10%;
        }
        
        .Actionable {
            background-color: #00CD78;
            padding: 5%;
        }
        
        .Actionable_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #000E08;
        }
        
        .Actionable_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: center;
            color: #000E08;
            width: 95%;
            margin-left: 2%;
        }
        
        .ddostesting{
            background-color: #000E08;
            padding: 5%;
        }
        .ddostesting_list{
            display: block;
        }
        
        .ddostesting_left{
            width: 100%;
        }
        .ddostesting_awsTitle{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 133.6%;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            width: 90%;
        }
        
        .ddostesting_aswDesc{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13x;
        line-height: 203.1%;
        text-align: left;
        color: #9BA4A2;
        opacity: 0.6;
        }
        
        .ddostesting_right{
            margin-left: 4%;
        }
        .ddostesting_right1{
            margin-left: 5%;
        }
        
        .ddostesting_box{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border: 1px solid #00CD78;
        width: 55%;
        border-radius: 14px;
        padding: 0.5% 0 0.5% 3%;
        }
        
        .ddostesting_expl{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 98%;
        }
        
        .testhrline{
            width: 100%;
            padding: 5% 0;
        }
        .ddosattack_section4{
            background-color: #000E08;
            margin-top: -15%;
        }
        }    

















/* 

    @media screen and (max-width:425px) and (min-width:376px) {

        .ddosattack_section1 {
            background-image: url('../../images/ddosattack/mobBg.png');
            background-size: 100% 110%;
            background-repeat: no-repeat;
            padding: 30% 0 6% 0%;
            margin: 0%;
            height: 100vh;
        }
        
        .ddosattack_Title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #F5F5F5;
        }
        
        .ddoscolorText {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        
        .ddosattackDesc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 170.1%;
            text-align: center;
            color: #FCFCFC;
            opacity: 0.86;
            padding-top: 3%;
        }
        
        .ddosattackdemoBtn {
            background-image: url('../../images/ddosattack/demoBg.png');
            background-repeat: no-repeat;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            padding: 5%;
            background-position-x: center;
            background-position-y: center;
            margin-top: 10%;
        }
        
        .ddosattack_section2 {
            background-color: #000E08;
        }
        
        .ddosattack_cardlist {
            display: block;
            margin-left: 2%;
            margin-top: -2%;
            padding-bottom: 5%;
            padding-top: 10%;
        }
        
        .ddosattack_card {
            background-image: url('../../images/ddosattack/ddosattackcard.png');
            background-repeat: no-repeat;
            background-size: 95% 100%;
            padding: 5%;
            width: 100%;
            height: 200px;
            padding-top: 6%;
            margin-bottom: 5%;
            padding-bottom: 5%;
        }
        
        .ddosattack_card:hover {
            background-image: url('../../images/ddosattack/ddosattackcard.png');
            background-repeat: no-repeat;
            background-size: 95% 100%;
            padding: 5%;
            width: 100%;
            height: 200px;
            padding-top: 6%;
            margin-bottom: 5%;
            padding-bottom: 5%;
        }
        
        
        .ddosattack_CardTitle {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #A8A8A8;
            width: 35%;
        }
        
        .ddosattack_CardTitle:hover {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #00CD78;
            width: 35%;
        }
        
        .ddosattack_CardDesc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 203.1%;
            color: #A8A8A8;
            width: 98%;
        }
        
        .ddosattack_section3 {
            background-image: url('../../images/ddosattack/structuredBg.png');
            background-size: 100% 110%;
            background-repeat: no-repeat;
            padding: 5% 0 6% 0%;
            margin: 0%;
        }
        
        .ddos_structure {
            padding: 5% 0 10%;
        }
        
        .structure_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #00CD78
        }
        
        .structure_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 170.1%;
            text-align: center;
            color: #999999;
            width: 80%;
            margin-left: 10%;
        }
        
        .structureList {
            display: block;
            margin-left: 3%;
            margin-top: 15%;
        }
        
        .structureBlock {
            display: flex;
            width: 95%;
            margin-left: -35%;
            margin-top: -14%;

        
        }
        
        .blocksIcon {
            width: 44px;
            height: 44px;
        }
        
        .blocksPara {
            margin-top: 17%;
            margin-left: 10%;
        }
        
        .block_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            text-align: left;
            white-space: nowrap;
        }
        
        .imageFlex {
            display: flex;
            margin-top: 15%;
        }
        
        .dotLine {
            
            display: none;
        }
        
        .blockList li {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: left;
            color: #868686;
            list-style-position: inside;
            margin-left: -5%;
            white-space: pre;
        }
        .blockList li br{
            display: none;
        }
        .ddosplatform {
            margin-top: 15%;
        }
        
        .ddosplatform_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: #00CD78;
            text-align: center;
        }
        
        .ddosplatform_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 170.1%;
            text-align: center;
            color: #FFFFFF;
            width: 80%;
            margin-left: 10%;
        }
        
        .Actionable {
            background-color: #00CD78;
            padding: 5%;
        }
        
        .Actionable_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #000E08;
        }
        
        .Actionable_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: center;
            color: #000E08;
            width: 95%;
            margin-left: 2%;
        }
        
        .ddostesting{
            background-color: #000E08;
            padding: 5%;
        }
        .ddostesting_list{
            display: block;
        }
        
        .ddostesting_left{
            width: 100%;
        }
        .ddostesting_awsTitle{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 133.6%;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            width: 90%;
        }
        
        .ddostesting_aswDesc{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13x;
        line-height: 203.1%;
        text-align: left;
        color: #9BA4A2;
        opacity: 0.6;
        }
        
        .ddostesting_right{
            margin-left: 4%;
        }
        .ddostesting_right1{
            margin-left: 5%;
        }
        
        .ddostesting_box{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border: 1px solid #00CD78;
        width: 45%;
        border-radius: 14px;
        padding: 0.5% 0 0.5% 3%;
        }
        
        .ddostesting_expl{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 98%;
        }
        
        .testhrline{
            width: 100%;
            padding: 5% 0;
        }
        .ddosattack_section4{
            background-color: #000E08;
            margin-top: -15%;
        }
        }
    
    
        
    @media screen and (max-width: 375px) {
    
        .ddosattack_section1 {
            background-image: url('../../images/ddosattack/mobBg.png');
            background-size: 100% 110%;
            background-repeat: no-repeat;
            padding: 30% 0 6% 0%;
            margin: 0%;
            height: 100vh;
        }
        
        .ddosattack_Title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #F5F5F5;
        }
        
        .ddoscolorText {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        
        .ddosattackDesc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 170.1%;
            text-align: center;
            color: #FCFCFC;
            opacity: 0.86;
            padding-top: 3%;
        }
        
        .ddosattackdemoBtn {
            background-image: url('../../images/ddosattack/demoBg.png');
            background-repeat: no-repeat;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            padding: 5%;
            background-position-x: center;
            background-position-y: center;
            margin-top: 10%;
        }
        
        .ddosattack_section2 {
            background-color: #000E08;
        }
        
        .ddosattack_cardlist {
            display: block;
            margin-left: 5%;
            margin-top: -2%;
            padding-bottom: 5%;
            padding-top: 10%;
        }
        
        .ddosattack_card {
            background-image: url('../../images/ddosattack/ddosattackcard.png');
            background-repeat: no-repeat;
            background-size: 95% 100%;
            padding: 5%;
            width: 100%;
            height: 200px;
            padding-top: 6%;
            margin-bottom: 5%;
            padding-bottom: 5%;
        }
        
        .ddosattack_card:hover {
            background-image: url('../../images/ddosattack/ddosattackcard.png');
            background-repeat: no-repeat;
            background-size: 95% 100%;
            padding: 5%;
            width: 100%;
            height: 200px;
            padding-top: 6%;
            margin-bottom: 5%;
            padding-bottom: 5%;
        }
        
        
        .ddosattack_CardTitle {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #A8A8A8;
            width: 40%;
        }
        
        .ddosattack_CardTitle:hover {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #00CD78;
            width: 40%;
        }
        
        .ddosattack_CardDesc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 203.1%;
            color: #A8A8A8;
            width: 95%;
        }
        
        .ddosattack_section3 {
            background-image: url('../../images/ddosattack/structuredBg.png');
            background-size: 100% 110%;
            background-repeat: no-repeat;
            padding: 5% 0 6% 0%;
            margin: 0%;
        }
        
        .ddos_structure {
            padding: 5% 0 10%;
        }
        
        .structure_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.02em;
            color: #00CD78
        }
        
        .structure_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 170.1%;
            text-align: center;
            color: #999999;
            width: 80%;
            margin-left: 10%;
        }
        
        .structureList {
            display: block;
            margin-left: 3%;
            margin-top: 15%;
        }
        
        .structureBlock {
            display: flex;
            width: 95%;
            margin-left: -40%;
            margin-top: -14%;        
        }
        
        .blocksIcon {
            width: 44px;
            height: 44px;
        }
        
        .blocksPara {
            margin-top: 17%;
            margin-left: 5%;
        }
        
        .block_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            letter-spacing: -0.01em;
            color: #FFFFFF;
            text-align: left;
            white-space: nowrap;
        }
        
        .imageFlex {
            display: flex;
            margin-top: 15%;
        }
        
        .dotLine {
            
            display: none;
        }
        
        .blockList li {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: left;
            color: #868686;
            list-style-position: inside;
            margin-left: -10%;
            white-space: pre;
        }
        .blockList li br{
            display: none;
        }
        .ddosplatform {
            margin-top: 15%;
        }
        
        .ddosplatform_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120.1%;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: #00CD78;
            text-align: center;
        }
        
        .ddosplatform_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 170.1%;
            text-align: center;
            color: #FFFFFF;
            width: 80%;
            margin-left: 10%;
        }
        
        .Actionable {
            background-color: #00CD78;
            padding: 5%;
        }
        
        .Actionable_title {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120.1%;
            text-align: center;
            letter-spacing: -0.05em;
            color: #000E08;
        }
        
        .Actionable_desc {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 170.1%;
            text-align: center;
            color: #000E08;
            width: 95%;
            margin-left: 2%;
        }
        
        .ddostesting{
            background-color: #000E08;
            padding: 5%;
        }
        .ddostesting_list{
            display: block;
        }
        
        .ddostesting_left{
            width: 100%;
        }
        .ddostesting_awsTitle{
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 133.6%;
            letter-spacing: -0.05em;
            color: #FFFFFF;
            width: 90%;
        }
        
        .ddostesting_aswDesc{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13x;
        line-height: 203.1%;
        text-align: left;
        color: #9BA4A2;
        opacity: 0.6;
        }
        
        .ddostesting_right{
            margin-left: 4%;
        }
        .ddostesting_right1{
            margin-left: 5%;
        }
        
        .ddostesting_box{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        border: 1px solid #00CD78;
        width: 45%;
        border-radius: 14px;
        padding: 0.5% 0 0.5% 3%;
        }
        
        .ddostesting_expl{
            font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 203.1%;
        text-align: justify;
        color: #9BA4A2;
        opacity: 0.6;
        width: 98%;
        }
        
        .testhrline{
            width: 100%;
            padding: 5% 0;
        }
        .ddosattack_section4{
            background-color: #000E08;
            margin-top: -15%;
        }
        }
    
    
        @media screen and (max-width: 345px) {
    
            .ddosattack_Title {
                font-size: 22px !important;
            }
            
            .ddoscolorText {
                font-size: 22px !important;            
            }
            
            .ddosattackDesc {
                font-size: 12px !important;
            }
           
            .ddosattack_CardTitle, .ddosattack_CardTitle:hover {
                width: 45%;
            }
    
            .ddosattack_CardDesc {
                font-size: 13px !important;   
            }
    
            .structure_title {
                font-size: 16px;
            }
    
            .structure_desc {
                font-size: 12px;
            }
    
            .ddostesting_box{
                width: 51%;
            }
            
            .ddosattack_section4{
                padding-top: 10%;
            }
        }
         */