
@media screen and (max-width:769px) and (min-width:426px) {

    .ddosattack_section1 {
        background-image: url('../../images/ddosattack/ddosattackBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 15% 0 6% 0%;
        margin: 0%;
    }
    
    .ddosattack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #F5F5F5;
    }
    
    .ddoscolorText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .ddosattackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 170.1%;
        text-align: center;
        color: #FCFCFC;
        opacity: 0.86;
    }
    
    .ddosattackdemoBtn {
        background-image: url('../../images/ddosattack/demoBg.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -40px;
        height: 250px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        text-align: center;
        padding-top: 10%;
    }
    
    .ddosattack_section2 {
        background-color: #000E08;
    }
    
    .ddosattack_cardlist {
        display: flex;
        margin-left: 2%;
    }
    .ddosattack_card {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10% 1% 5% 5%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        height: 389px;
        width: 306px;
        margin-right: 2%;
    }
    
    .ddosattack_card:hover {
        background-image: url('../../images/ddosattack/ddoscardHover.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 10% 1% 5% 5%;
        height: 389px;
        width: 306px;
    }
    .ddosattack_CardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #A8A8A8;
        width: 80%;
    }
    
    .ddosattack_CardTitle:hover {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #00CD78;
        width: 80%;
    }
    
    .ddosattack_CardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        color: #A8A8A8;
        width: 98%;
    }
    
    .ddosattack_section3 {
        background-image: url('../../images/ddosattack/structuredBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 5% 0 6% 0%;
        margin: 0%;
    }
    
    .ddos_structure {
        padding: 5% 0 10%;
    }
    
    .structure_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #00CD78
    }
    
    .structure_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #999999;
        width: 60%;
        margin-left: 20%;
    }
    
    .structureList {
        display: flex;
        margin-left: 3%;
        margin-top: 15%;
    }
    
    .structureBlock {
        display: block;
        width: 33%;
    
    }
    
    .blocksIcon {
        width: 44px;
        height: 44px;
        margin-left: 40%;
    }
    
    .blocksPara {
        margin-top: 15%;
    }
    
    .block_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        text-align: center;
    }
    
    .imageFlex {
        display: flex;
        margin-top: 15%;
    }
    
    .dotLine {
        height: 1%;
        margin-left: 3%;
        margin-top: 6%;
        width: 80%;
    }
    
    .blockList li {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: center;
        color: #868686;
        list-style-position: inside;
        margin-left: -13%
    }
    
    .ddosplatform {
        margin-top: 15%;
    }
    
    .ddosplatform_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #00CD78;
        text-align: center;
    }
    
    .ddosplatform_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        width: 65%;
        margin-left: 18%;
    }
    
    .Actionable {
        background-color: #00CD78;
        padding: 5%;
    }
    
    .Actionable_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000E08;
    }
    
    .Actionable_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #000E08;
        width: 80%;
        margin-left: 10%;
    }
    
    .ddostesting{
        background-color: #000E08;
        padding: 5%;
    }
    .ddostesting_list{
        display: flex;
    }
    
    .ddostesting_left{
        width: 100%;
    }
    .ddostesting_awsTitle{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 90%;
    }
    
    .ddostesting_aswDesc{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13x;
    line-height: 203.1%;
    text-align: left;
    color: #9BA4A2;
    opacity: 0.6;
    }
    
    .ddostesting_right{
        margin-left: 4%;
    }
    .ddostesting_right1{
        margin-left: 5%;
    }
    
    .ddostesting_box{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #00CD78;
    width: 35%;
    border-radius: 14px;
    padding: 0.5% 0 0.5% 3%;
    }
    
    .ddostesting_expl{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    color: #9BA4A2;
    opacity: 0.6;
    width: 98%;
    }
    
    .testhrline{
        width: 100%;
        padding: 5% 0;
    }
    .ddosattack_section4{
        background-color: #000E08;
        margin-top: -5%;
    }
}

@media screen and (max-width:540px) and (min-width:426px) {
    .ddosattack_section1 {
        background-image: url('../../images/ddosattack/mobBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 30% 0 6% 0%;
        margin: 0%;
        height: 100vh;
    }
    
    .ddosattack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #F5F5F5;
    }
    
    .ddoscolorText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .ddosattackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 170.1%;
        text-align: center;
        color: #FCFCFC;
        opacity: 0.86;
        padding-top: 3%;
    }
    
    .ddosattackdemoBtn {
        background-image: url('../../images/ddosattack/demoBg.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -42px;
        height: 250px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        text-align: center;
        padding-top: 14%;
    }
    
    .ddosattack_section2 {
        background-color: #000E08;
    }
    
    .ddosattack_cardlist {
        display: block;
        margin-left: -2%;
        margin-top: -2%;
        padding-bottom: 5%;
        padding-top: 10%;
    }
    
    .ddosattack_card {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15% 1% 5% 13%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        height: 280px;
        width: 500px;
        margin-right: 0%;
    }
    
    .ddosattack_card:hover {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 15% 1% 5% 13%;
        height: 280px;
        width: 500px;
    }
    .ddosattack_CardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #A8A8A8;
        width: 55%;
    }
    
    .ddosattack_CardTitle:hover {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #00CD78;
        width: 55%;
    }
    
    .ddosattack_CardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        color: #A8A8A8;
        width: 98%;
    }
    
    .ddosattack_section3 {
        background-image: url('../../images/ddosattack/structuredBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 5% 0 6% 0%;
        margin: 0%;
    }
    
    .ddos_structure {
        padding: 5% 0 10%;
    }
    
    .structure_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #00CD78
    }
    
    .structure_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #999999;
        width: 80%;
        margin-left: 10%;
    }
    
    .structureList {
        display: block;
        margin-left: 3%;
        margin-top: 15%;
    }
    
    .structureBlock {
        display: flex;
        width: 95%;
        margin-left: 2%;
        padding-bottom: 5%;
    }
    
    .blocksIcon {
        width: 44px;
        height: 44px;
        margin-left: 0%;
    }
    
    .blocksPara {
        margin-top: 3%;
        margin-left: 10%;
    }
    
    .block_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        text-align: left;
    }
    
    .imageFlex {
        display: flex;
        margin-top: 15%;
    }
    
    .dotLine {
        
        display: none;
    }
    
    .blockList li {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: left;
        color: #868686;
        list-style-position: inside;
        margin-left: -5%
    }
    .blockList li br{
        display: none;
    }
    .ddosplatform {
        margin-top: 15%;
    }
    
    .ddosplatform_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #00CD78;
        text-align: center;
    }
    
    .ddosplatform_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        width: 80%;
        margin-left: 10%;
    }
    
    .Actionable {
        background-color: #00CD78;
        padding: 5%;
    }
    
    .Actionable_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000E08;
    }
    
    .Actionable_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: center;
        color: #000E08;
        width: 95%;
        margin-left: 2%;
    }
    
    .ddostesting{
        background-color: #000E08;
        padding: 5%;
    }
    .ddostesting_list{
        display: block;
    }
    
    .ddostesting_left{
        width: 100%;
    }
    .ddostesting_awsTitle{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 90%;
    }
    
    .ddostesting_aswDesc{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13x;
    line-height: 203.1%;
    text-align: left;
    color: #9BA4A2;
    opacity: 0.6;
    }
    
    .ddostesting_right{
        margin-left: 4%;
    }
    .ddostesting_right1{
        margin-left: 5%;
    }
    
    .ddostesting_box{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #00CD78;
    width: 35%;
    border-radius: 14px;
    padding: 0.5% 0 0.5% 3%;
    }
    
    .ddostesting_expl{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    color: #9BA4A2;
    opacity: 0.6;
    width: 98%;
    }
    
    .testhrline{
        width: 100%;
        padding: 5% 0;
    }
    .ddosattack_section4{
        background-color: #000E08;
        margin-top: -15%;
    }
}









/* 

@media screen and (max-width:769px) and (min-width:426px) {

    .ddosattack_section1 {
        background-image: url('../../images/ddosattack/ddosattackBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 15% 0 6% 0%;
        margin: 0%;
    }
    
    .ddosattack_Title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #F5F5F5;
    }
    
    .ddoscolorText {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    
    .ddosattackDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 170.1%;
        text-align: center;
        color: #FCFCFC;
        opacity: 0.86;
    }
    
    .ddosattackdemoBtn {
        background-image: url('../../images/ddosattack/demoBg.png');
        background-repeat: no-repeat;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        padding: 2%;
        background-position-x: center;
        background-position-y: center;
        margin-top: 5%;
    }
    
    .ddosattack_section2 {
        background-color: #000E08;
    }
    
    .ddosattack_cardlist {
        display: flex;
        margin-left: 2%;
    }
    
    .ddosattack_card {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 95% 100%;
        padding: 3%;
        width: 35%;
        height: 305px;
        padding-top: 6%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        
    }
    
    .ddosattack_card:hover {
        background-image: url('../../images/ddosattack/ddosattackcard.png');
        background-repeat: no-repeat;
        background-size: 95% 100%;
        padding: 3%;
        width: 35%;
        height: 305px;
        padding-top: 6%;
        margin-bottom: 5%;
        padding-bottom: 5%;
    }
    
    
    .ddosattack_CardTitle {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #A8A8A8;
        width: 70%;
    }
    
    .ddosattack_CardTitle:hover {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #00CD78;
        width: 70%;
    }
    
    .ddosattack_CardDesc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 203.1%;
        color: #A8A8A8;
        width: 98%;
    }
    
    .ddosattack_section3 {
        background-image: url('../../images/ddosattack/structuredBg.png');
        background-size: 100% 110%;
        background-repeat: no-repeat;
        padding: 5% 0 6% 0%;
        margin: 0%;
    }
    
    .ddos_structure {
        padding: 5% 0 10%;
    }
    
    .structure_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #00CD78
    }
    
    .structure_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #999999;
        width: 60%;
        margin-left: 20%;
    }
    
    .structureList {
        display: flex;
        margin-left: -5%;
        margin-top: 15%;
    }
    
    .structureBlock {
        display: block;
        width: 33%;
    
    }
    
    .blocksIcon {
        width: 44px;
        height: 44px;
    }
    
    .blocksPara {
        margin-top: 10%;
        margin-left: 20%;
    }
    
    .block_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.01em;
        color: #FFFFFF;
        text-align: center;
    }
    
    .imageFlex {
        display: flex;
        margin-top: 15%;
    }
    
    .dotLine {
        height: 1%;
        margin-left: 65%;
        margin-top: -30%;
        width: 80%;
    }
    
    .blockList li {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 170.1%;
        text-align: center;
        color: #868686;
        list-style-position: inside;
        margin-left: -33%
    }
    
    .ddosplatform {
        margin-top: 15%;
    }
    
    .ddosplatform_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 120.1%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #00CD78;
        text-align: center;
    }
    
    .ddosplatform_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 170.1%;
        text-align: center;
        color: #FFFFFF;
        width: 65%;
        margin-left: 18%;
    }
    
    .Actionable {
        background-color: #00CD78;
        padding: 5%;
    }
    
    .Actionable_title {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 120.1%;
        text-align: center;
        letter-spacing: -0.05em;
        color: #000E08;
    }
    
    .Actionable_desc {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 170.1%;
        text-align: center;
        color: #000E08;
        width: 80%;
        margin-left: 10%;
    }
    
    .ddostesting{
        background-color: #000E08;
        padding: 5%;
    }
    .ddostesting_list{
        display: flex;
    }
    
    .ddostesting_left{
        width: 100%;
    }
    .ddostesting_awsTitle{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 133.6%;
        letter-spacing: -0.05em;
        color: #FFFFFF;
        width: 90%;
    }
    
    .ddostesting_aswDesc{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 13x;
    line-height: 203.1%;
    text-align: left;
    color: #9BA4A2;
    opacity: 0.6;
    }
    
    .ddostesting_right{
        margin-left: 4%;
    }
    .ddostesting_right1{
        margin-left: 5%;
    }
    
    .ddostesting_box{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    background: linear-gradient(180deg, #2CD58B 0%, #3AC9FB 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border: 1px solid #00CD78;
    width: 35%;
    border-radius: 14px;
    padding: 0.5% 0 0.5% 3%;
    }
    
    .ddostesting_expl{
        font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 203.1%;
    text-align: justify;
    color: #9BA4A2;
    opacity: 0.6;
    width: 98%;
    }
    
    .testhrline{
        width: 100%;
        padding: 5% 0;
    }
    .ddosattack_section4{
        background-color: #000E08;
        margin-top: -5%;
    }
} */