.algoAboutus{
    background-color: black;
    width: 100%;
    position: relative;
}
.aboutusImg{
margin:auto;
display: flex;
position: relative;
}
.aboutusText{
position: absolute;
top:200px;
left: 65px;
padding: 4% 5%;
}
#aboutusTitle{
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color:#00CD78;    
}
#aboutusText1{
    font-family: Manrope;
    font-size: 31px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin: 1% 0 0 0;
}
#aboutusText2{
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #CBCBCB;
    width: 49%;
    margin: 1% 0 0 25%;
}
@media screen and (max-width:1705px) and (min-width:1025px) {
 
    .aboutusText{
        position: absolute;
        top: 150px;
        left: -5px;
        padding: 4% 5%;
        } 
        #aboutusText2{
            width: 60%;
            margin: 1% 0 0 20%;
        }
}
@media screen and (max-width:1024px) and  (min-width:768px) {
    #aboutusTitle{
     margin: 0 0 0 -5%;
    }
    #aboutusText1{
        margin: 1 0 0 -3%;
    }
    #aboutusText2{
        width: 94%;
        margin: 1% 0 0 0%;
    }
}
@media screen and (max-width:769px) and (min-width:445px) {
    #aboutusTitle{
        margin: 0 0 0 -8%;
       }
       #aboutusText1{
        margin: 2% 0 0 -4%;
       }
       #aboutusText2{
        width: 95%;
        margin: 3% 0 0 -1%;
       }
}