.dark_section1 {
    background-image: url(../../images/deepdark/darkBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0% 0 15%;
    margin: 0%;
}

.dark_Title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    padding: 3% 0 2%;
}

.darkDesc {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.1%;
    text-align: center;
    color: #FFFFFF;
    padding: 0% 0 3%;
}

.colortext {
    color: rgba(0, 205, 120, 1);
}

.dark_demoBtn {
    background: #00CD78;
    border-radius: 8px;
    width: 10%;
    text-align: center;
    margin-left: 45%;
    padding: 0.5%;
    margin-top: 2%;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
}


.dark_section2 {
    background-color: #000E08;
    padding: 5% 0 10%;
}

.work_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120.1%;
    text-align: center;
    letter-spacing: -0.065em;
    color: #00CD78;
    padding-bottom: 2%;
}

.work_desc {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 170.1%;
    text-align: center;
    color: #7A7A7A;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 2%;

}

.dark_hrline {
    margin-left: 25%;
    padding-bottom: 2%;

}

.dark_section3 {
    background-color: #000E08;

}

.darkcard {
    background-image: url('../../images/deepdark/cardbg1.png');  
    background-repeat: no-repeat;
    background-size: 90% 70%;
    padding: 3%;
    margin-left: 10%;
    display: flex;
    padding-bottom: 10%;
}
.darkcard:hover{
    background-image: url('../../images/deepdark/cardbg.png');  
}
.leftcardimg:hover{
    border-color: rgba(44, 213, 139, 1);
}
.darkcard_left {
    width: 19%;
    margin-top: -6%;
    padding-left: 3%;
}

.leftcard_title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 120.1%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5%;

}
.leftcard_title:hover{
    color: #00CD78;
}
.darkcard_right {
    width: 68%;
    padding-left: 5%;
}

.rightcard_desc {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 170.1%;
    color: #7A7A7A;
    padding-bottom: 2%;
}

.darkdemo {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 170.1%;
    color: #00CD78;

}

.deep_dark {
    background: linear-gradient(270deg, #12613F -20.75%, #072525 100%);
    padding: 4% 0;
    display: flex;
    padding-left: 5%;
}

.deep_darkLeft {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120.1%;
    letter-spacing: -0.065em;
    color: #FFFFFF;
    width: 35%;
}

.deep_darkRight{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170.1%;
color: #CBCBCB;
width: 60%;
padding-left: 8%;
}
.dark_section5{
    background-color: #000E08;
}